</div></div>
<div class="container full white">
<h2>Brand</h2>
<h3>Aviation Community Foundation</h3>
<p>ACF helps students build flight plans for life by supporting and accelerating aviation education programs in the U.S.</p>
<p>Although not every student will go into an aviation career, education rooted in aviation is proven to produce confident and career-ready students.</p>
<h4>Logo</h4>
<img src="../img/medialab/acf/acf-logomark.svg" class="figure"  alt="Aviation Community Foundation mentorship logomark">
<div class="row">
  <div class="cl-2">
    <h4>Lockup</h4>
    <img src="../img/medialab/acf/acf-logo.svg" class="figure"  alt="">
  </div>
  <div class="cl-2">
    <h4>Guides</h4>
    <img src="../img/medialab/acf/acf-grid.svg" class="figure small"  alt="">
  </div>
</div>
<p>The ACF brand materials are designed for two audience groups: the donors and partners who fuel the organization, and the students and programs with whom ACF works directly. Each audience approaches the brand with different expectations and needs. Donors are looking for reasons to say "no." Partners are looking for ways to make themselves look good.</p>
<p>For donors and partners, the primary logomark uses forms that are familiar in the non-profit education space and is paired with an optically-adjusted Museo Sans to meet donors' expectations about what a non-profit should look like. The forms summarize the foundation's how and why: support students through aviation.</p>
</div>
</div>
<div class="container mostly white">
<h4>Donor Booklet Illustrations</h4>
<div class="row">
<div class="cl-2">
  <img src="../img/medialab/acf/print-cover.svg" class="figure"  alt="">
</div>
<div class="cl-2">
  <img src="../img/medialab/acf/print-1.svg" class="figure"  alt="">
</div>
</div>
<div class="row">
<div class="cl-2">
  <img src="../img/medialab/acf/print-1-1.svg" class="figure"  alt="">
</div>
<div class="cl-2">
  <img src="../img/medialab/acf/print-2.svg" class="figure"  alt="">
</div>
</div>
</div>
<!-- <div class="bg-image acf mt4"> -->

<div class="container-content">
<div class="container max white">
<h4>Iconography</h4>
<p>For students and programs, the ACF brand is  looser and more playful without being cute, as shown in the iconography.</p>
<div class="tc">
  <img src="../img/medialab/acf/icon-1.svg" class="icon" alt="ACF Icons">
  <img src="../img/medialab/acf/icon-2.svg" class="icon" alt="ACF Icons">
  <img src="../img/medialab/acf/icon-3.svg" class="icon" alt="ACF Icons">
  <img src="../img/medialab/acf/icon-4.svg" class="icon" alt="ACF Icons">
  <img src="../img/medialab/acf/icon-5.svg" class="icon" alt="ACF Icons">
  <img src="../img/medialab/acf/icon-6.svg" class="icon" alt="ACF Icons">
  <img src="../img/medialab/acf/icon-7.svg" class="icon" alt="ACF Icons">
  <img src="../img/medialab/acf/icon-9.svg" class="icon" alt="ACF Icons">
  <img src="../img/medialab/acf/icon-10.svg" class="icon" alt="ACF Icons">
  <img src="../img/medialab/acf/icon-11.svg" class="icon" alt="ACF Icons">
</div>
<h4>Bringing it Together</h4>
<p>ACF has operated with these materials for almost two years. During this time, we've brought together the best aviation educators for annual leadership conferences with speakers from Google, Techstars, the Lindberghs, and the who-is-who of contemporary aviators. ACF has partnered with JetBlue, Sikorsky/AAG, and other industry leaders to bring students from underserved areas across the U.S. together for an annual aviation expedition.</p>
</div>
</div>
