<hr class="line">
<div class="tc p4 nocase thin">
  <ul>
    <li><a href="https://github.com/twaldorf">Fork my spaghetti on GH</a></li>
    <li><a href="https://twitter.com/tjwaldorf">Let my sweet tweets wash over you</a></li>
    <li><a href="https://soundcloud.com/iamhexeater">Lambast my music with critical words</a></li>
    <li><a href="mailto:trevor.waldorf@gmail.com">Riddle my inbox with email bullets</a></li>
  </ul>
</div>
