<div class="container white py5">
  <h1>{{heads.mail}}</h1>
  <p>{{subheads.mail}}</p>
  <div id="mc_embed_signup">
    <form action="//learngimp.us7.list-manage.com/subscribe/post?u=ed54cab5b8ccf090c9035fd0b&amp;id=c199ea41b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group mt3">
        	<input type="email" value="" placeholder="{{mail.placeholder}}" name="EMAIL" class="required email form-field dark" id="mce-EMAIL">
        </div>
      	<div id="mce-responses" class="clear">
      		<div class="response" id="mce-error-response" style="display:none"></div>
      		<div class="response" id="mce-success-response" style="display:none"></div>
      	</div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ed54cab5b8ccf090c9035fd0b_c199ea41b0" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn p2 px3 mt2 dark">
        </div>
    </form>
  </div>
</div>
