<h4 class="mt3">Table of contents</h4>
<nav class="nav-secondary mt2" role="navigation">
  <div class="nav-item"><a href="#overview">Summary</a></div>
  <div class="nav-item"><a href="#model">Model</a></div>
  <div class="nav-item"><a href="#result">Result</a></div>
  <div class="nav-item"><a href="#products">Products</a></div>
  <div class="nav-item"><a href="#process">Process</a></div>
  <div class="nav-item"><a href="#lessons">Mistakes & Lessons</a></div>
  <div class="nav-item"><a href="#studies">Studies</a></div>
</nav>
