<nav class="nav-secondary mt2 p0" role="navigation">
  <div class="nav-item"><a href="/medialab/upknown">Interaction: Upknown</a></div>
  <div class="nav-item"><a href="/medialab/acf">Brand: ACF</a></div>
  <div class="nav-item"><a href="/medialab/wine">Product: Virtual Vineyards</a></div>
  <div class="nav-item"><a href="/medialab/mocktail">Illustration: Mocktail</a></div>
  <!-- <div class="nav-item"><a href="/medialab/resume">Resume</a></div> -->
</nav>
