<nav class="nav-secondary mt2" role="navigation">
  <div class="nav-item"><a href="/medialab/upknown">UX: Upknown</a></div>
  <div class="nav-item"><a href="/medialab/acf">Brand: ACF</a></div>
  <div class="nav-item"><a href="/secret/medialab/vr">Product: Virtual Vineyards</a></div>
  <div class="nav-item"><a href="/secret/medialab/chatbot">Interaction: Airline Chatbots</a></div>
  <div class="nav-item"><a href="#onboarding">Resume</a></div>
</nav>
