<div class="container">
<nav class="clearfix mt5 mb5 pt4 tbg">
  <a href="/">
    <h1 class="di nocase bg-glow white px2">{{heads.main.[0]}}</h1>
  </a>
  <ul class="">
    {{#each nav}}
    <li class="dib bg-glow white px1"><a href="{{this.[1]}}" class="thin">{{this.[0]}}</a></li>
    {{/each}}
  </ul>
</nav>
</div>
