<nav class="mt3" role="navigation">
  <div class="nav-item"><a href="/clients">Clients</a></div>
  <div class="nav-item"><a href="/projects">Projects</a></div>
  <!-- <div class="nav-item"><a href="/work/activities">Methods</a></div> -->
  <div class="nav-item"><a href="/writing">Writing</a></div>
  <!-- <div class="nav-item"><a href="mailto:trevor.waldorf@gmail.com">Email Me</a></div> -->
  <!-- <div class="nav-item"><a href="/resources">Resources</a></div> -->
  <div class="nav-item"><a href="/contact">Contact</a></div>
</nav>
