<nav class="mt3">
  <ul>
    <li><a href="/clients">Clients & Values</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/writing">Writing</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/bio">Bio</a></li>
  </ul>
</nav>
