<nav class="mt3" role="navigation">
  <div class="nav-item"><a href="/clients">Clients & Values</a></div>
  <div class="nav-item"><a href="/projects">Projects</a></div>
  <div class="nav-item"><a href="/writing">Writing</a></div>
  <div class="nav-item"><a href="/resources">Resources</a></div>
  <div class="nav-item"><a href="/bio">Bio</a></div>
</nav>
