<div class="row">
  <div class="col-md-4 p3 oh">
      <div class="brick primary bg-dark oh">
        <a class="" href="/poster" title="Upknown Case Study">
          <img class="img-grid" src="img/poster.gif" alt=""/>
        <figcaption class="bg-dark white p2">
          <h4 class="small m0">Print</h4>
          <h3 class="m0">Hearts Rising</h3>
        </a>
          <p class="thin m0">
            Make exciting wall posters
          </p>
        </figcaption>
      </div>
  </div>
  <div class="col-md-8 p3">
    <div class="brick secondary bg-dark oh">
      <a class="" href="/refracted" title="Upknown Case Study">
        <img class="img-grid" src="img/refracted.png" alt=""/>
        <figcaption class="bg-dark white p2">
          <h4 class="small m0">Graphic Design</h4>
          <h3 class="m0">Refracted Records</h3>
        </a>
        <p class="thin m0">
          Push premium sounds from undiscovered artists
        </p>
      </figcaption>
    </div>
  </div>
</div>
