<div class="row">
  <div class="col-md-4 p3">
    <div class="brick secondary oh">
      <a class="" href="/studies/upknown" title="Upknown Case Study">
        <img class="img-grid" src="img/ascendeur.png" alt=""/>
        <figcaption class="bg-dark white p2">
          <h4 class="small m0">Brand</h4>
          <h3 class="m0">Ascendeur</h3>
        </a>
        <p class="thin m0">
          Build outstanding peer groups for entrepreneurs
        </p>
      </figcaption>
    </div>
  </div>
  <div class="col-md-4 p3">
      <div class="brick primary oh">
        <a class="" href="/studies/upknown" title="Upknown Case Study">
          <img class="img-grid" src="img/metro.png" alt="METRO Accelerator, powered by Techstars"/>
        <figcaption class="bg-dark white p2">
          <h4 class="small m0">Web Design</h4>
          <h3 class="m0">Techstars</h3>
        </a>
          <p class="thin m0">
            Generate leads for the world’s only HoReCa tech accelerator
          </p>
        </figcaption>
      </div>
  </div>
  <div class="col-md-4 p3">
      <div class="brick primary oh">
        <a class="" href="/studies/upknown" title="Upknown Case Study">
          <img class="img-grid" src="img/hexeater.gif" alt=""/>
        <figcaption class="bg-dark white p2">
          <h4 class="small m0">Music</h4>
          <h3 class="m0">Hex Eater</h3>
        </a>
          <p class="thin m0">
            Learn electronic music production, shred on the cello
          </p>
        </figcaption>
      </div>
  </div>
</div>
