<div class="row">
  <div class="col-md-4 p3">
      <div class="brick primary bg-dark">
        <a class="" href="/studies/upknown" title="Upknown Case Study">
          <img src="img/upknown.png" alt=""/>
        <figcaption class="bg-dark white p2">
          <h4 class="small m0">Case Study</h4>
          <h3 class="m0">Upknown</h3>
        </a>
          <p class="thin m0">
            UX UI all kinds of fun pie, that's ho wit goes.
          </p>
        </figcaption>
      </div>
  </div>
  <div class="col-md-8 p3">
    <div class="brick secondary bg-dark">
      <a class="" href="/studies/upknown" title="Upknown Case Study">
        <img src="img/upknown.png" alt=""/>
        <figcaption class="bg-dark white p2">
          <h4 class="small m0">Post mortem</h4>
          <h3 class="m0">Mocktail</h3>
        </a>
        <p class="thin m0">
          How to eject your cofounder then run your design agency into the ground
        </p>
      </figcaption>
    </div>
  </div>
</div>
