<div class="row">
  <div class="col-md-8 p3">
      <div class="brick primary oh">
        <a class="" href="/upknown" title="Upknown Case Study">
          <img class="subtle img-grid" src="img/upknown.png" alt=""/>
        <figcaption class="bg-dark white p2">
          <h4 class="small m0">Case Study</h4>
          <h3 class="m0">Upknown</h3>
        </a>
          <p class="thin m0 nocase">
            Help highly-networked people make genius connections
          </p>
        </figcaption>
      </div>
  </div>
  <div class="col-md-4 p3">
    <div class="brick secondary oh">
      <a class="" href="/mocktail" title="Upknown Case Study">
        <img class="img-grid" src="img/juice.png" alt="Mocktail"/>
      <figcaption class="bg-dark white p2">
        <h4 class="small m0">Post mortem</h4>
        <h3 class="m0">Mocktail</h3>
      </a>
        <p class="thin m0 nocase">
          How to run your design agency into the ground
        </p>
      </figcaption>
    </div>
  </div>
</div>
