<div class="row mt5">
  <h2 class="tc">{{heads.matrix}}</h2>
  <div class="col-md-4">
    {{> product-1}}
  </div>
  <div class="col-md-4">
    {{> product-2}}
  </div>
  <div class="col-md-4">
    {{> product-3}}
  </div>
</div>
<div class="row mt3">
  <div class="col-md-12 tc">
    <h4>{{product.discount}}</4>
  </div>
</div>
