</div>
</div>
<div class="container white mostly fadein">

  <h2>Problem: Wine producers don’t give consumers the information they need to make informed purchase decisions.</h2>
  <h2>Solution: Walk consumers through the history of a wine's vineyard in virtual reality to uncover the story of the region and the craft of winemaking.</h2>
</div>
<div class="container full white fadein">
<p>During my time at Fresh Tilled Soil, I worked on a product independently in the food and drink industry. After rounds of research and prototyping, I ended up building a virtual reality experience.</p>
<figure>
  <img class="full" src="../img/studies/winevr/lookaround.gif" alt=""/>
  <figcaption>An early title shot from the Columbia River Valley prototype, later scrapped. The sun sets as the user progresses through the valley.</figcaption>
</figure>
<p>Prior to my research, I knew nothing about wine, so diving into the wine industry was a fascinating learning experience. Thanks to the generosity of many passionate wine industry people up and down the supply chain, I gained a glimpse of a world of craft, commerce, and  agriculture.</p>
</div>
<figure>
  <img src="../img/studies/wineux/industry.gif" class="full" alt="The wine industry supply chain by need, tools, and obstacles" />
  <figcaption class="px3">Wine Industry Supply Chain (domestic consumer)</figcaption>
</figure>
  <div class="container mostly white">
    <div class="cl">
      <h3>Research</h3>
    </div>
    <div class="row">
      <div class="cl">
        <h5>Key Insight</h5>
        <hr class="line">
        <h4>The Wine Supply Chain</h4>
        <p>For wine bought in stores, the chain is Producer > Distributor > Retailer > Consumer. Each have their own needs, tools, and barriers.</p>
      </div>
      <div class="cl">
        <h5>Key Insight</h5>
        <hr class="line">
        <h4>How We Buy Wine</h4>
        <p>Price. Label design. Social proof. Wine is a commodity masquerading (and sold) as a luxury good. Good wine experiences account for both the commodified portion and the emotional portion.</p>
      </div>
      <div class="cl">
        <h5>Key Insight</h5>
        <hr class="line">
        <h4>User Themes</h4>
        <p>Some consumers are solidly in the wine camp and know what they want. The rest are along a spectrum and buy wine with their own mindsets and contexts.</p>
      </div>
    </div>
  </div>
<p>I put the product on hold in March of 2017 after determining through customer development interviews that the larger wine industry is not (yet) ready for virtual reality products.</p>
</div>
