</div>
</div>
<div class="container white mostly fadein">

  <h2>Problem: Wine producers don’t give consumers the information they need to make informed purchase decisions.</h2>
  <h2>Solution: Walk consumers through the history of a wine's vineyard in virtual reality to uncover the story of the region and the craft of winemaking.</h2>
</div>
<div class="container full white fadein">
  <p>During my time at Fresh Tilled Soil, I worked independently on a product in the food and drink industry. After rounds of research and prototyping, I ended up building a virtual reality experience.</p>
  <figure>
    <img class="full" src="../img/studies/winevr/lookaround.gif" alt=""/>
    <figcaption>An early title shot from the Columbia River Valley prototype, later scrapped. The sun sets as the user progresses through the valley.</figcaption>
  </figure>
  <p>Prior to my research, I knew nothing about wine, so diving into the wine industry was a fascinating learning experience. Thanks to the generosity of many passionate wine industry people up and down the supply chain, I gained a glimpse of a world of craft, commerce, and  agriculture.</p>
</div>
<figure>
  <img src="../img/studies/wineux/industry.gif" class="full" alt="The wine industry supply chain by need, tools, and obstacles" />
  <figcaption class="px3">Wine Industry Supply Chain (domestic consumer)</figcaption>
</figure>
<div class="container full white">
  <h3 class="m0">Research</h3>
  <p>My research began with interviews with distributors, wine shop owners, and liquor store employees to set context and build starting domain knowledge. Later I interviewed brewery owners and consumers and conducted casual contextual inquiry with consumers, notetaking as people talked me through their wine purchasing process in retail and service environments.</p>
  <p>I also drank some wine. <em>Research!</em></p>
</div>
<div class="container mostly white mt0">
  <div class="row mt0">
    <div class="cl">
      <h5>Key Insight</h5>
      <hr class="line white">
      <h4>The Wine Supply Chain</h4>
      <p>For wine bought in stores, the chain is Producer > Distributor > Retailer > Consumer. Each have their own needs, tools, and barriers.</p>
    </div>
    <div class="cl">
      <h5>Key Insight</h5>
      <hr class="line white">
      <h4>How We Buy Wine</h4>
      <p>Price. Label design. Social proof. Wine is a commodity masquerading (and sold) as a luxury good. Good wine experiences account for both the commodified portion and the emotional portion.</p>
    </div>
    <div class="cl">
      <h5>Key Insight</h5>
      <hr class="line white">
      <h4>User Themes</h4>
      <p>Some consumers are solidly in the wine camp and know what they want. The rest are along a spectrum and buy wine with their own mindsets and contexts.</p>
    </div>
  </div>
</div>
<div class="container full white">
  <h3>Experience Maps</h3>
  <p>Using personas (not pictured) as swimlanes, I mapped the consumer wine experience from pre-purchase to post-consumption. The mapping process exposed gaps in my understanding of the existing consumer journey and identified opportunities for improvement.</p>
</div>
<div class="container mostly white">
  <div class="row">
    <div class="cl">
      <h5>Phase 1</h5>
      <hr class="line white"/>
      <h4>Motivation</h4>
      <p>Users are establishing need and making a plan. Ask: “why is this person hiring wine and why?”</p>
    </div>
    <div class="cl">
      <h5>Phase 2</h5>
      <hr class="line white"/>
      <h4>Acquisition</h4>
      <p>Users are finding, evaluating, and purchasing wine. This phase is the “how?” phase.</p>
    </div>
    <div class="cl">
      <h5>Phase 3</h5>
      <hr class="line white"/>
      <h4>Consumption</h4>
      <p>Users are delivering, serving, and drinking wine, all in different ways.</p>
    </div>
    <div class="cl">
      <h5>Phase 4</h5>
      <hr class="line white"/>
      <h4>Reflection</h4>
      <p>Users are internalizing their experience with the wine based on taste, expectations, and appropriateness.</p>
    </div>
  </div>
</div>
<div class="container full white pt4">
  <h3>Hypotheses & Prototyping</h3>
  <p class="m0">The prototyping process is a series of experiments in which the designer uses artifacts to elicit new information and test key elements of a proposed solution. I built two prototypes and both elicited insights about the industry and user experience while validating and invalidating core value propositions.</p>
</div>
<div class="container mostly bg-white mt0">
  <figure>
    <img src="../img/studies/wineux/prototype-layout.gif" class="full figure" alt="Cellar app prototype in Sketch" />
    <figcaption>"Cellar" mobile app prototype in Sketch</figcaption>
  </figure>
</div>
<div class="container full white">
  <p>You can read more about the specifics of this process in the <a href="/work/winevr">full case study.</a> Ultimately, I decided to build a VR experience because the mobile prototype wasn't compelling from a business or user experience perspective.</p>
  <p> Additionally, there are very few times in life when you are given free reign to experiment, and I wanted to use the opportunity to dive into virtual reality instead of building another web or mobile app.</p>
</div>
<div class="container full white">
  <h3>Unity & Asset Pipeline</h3>
  <p>After familiarizing myself with the toolset, I began storyboarding and collecting information on the Columbia River Valley. Instead of recreating a real winery, I took influence from several locations to make an environment that was suggestive of a vineyard in the valley.</p>
  <figure>
    <img class="full" src="../img/studies/winevr/plaques.gif" alt=""/>
    <figcaption>Informational plaques clipped from Oregonian historical records.</figcaption>
  </figure>
</div>
<div class="container mostly white">
  <div class="row">
    <div class="cl">
      <h5>Asset Pipeline</h5>
      <hr class="line white">
      <h4>Environment</h4>
      <p>Concept Art in Photoshop -> Textures in Photoshop -> Terrain and Lighting in Unity</p>
    </div>
    <div class="cl">
      <h5>Asset Pipeline</h5>
      <hr class="line white">
      <h4>Objects</h4>
      <p>Concept Art in Photoshop-> Scene Requirements in Docs -> Meshes in Blender -> Textures in Photoshop -> Assembly in Unity</p>
    </div>
    <div class="cl">
      <h5>Asset Pipeline</h5>
      <hr class="line white">
      <h4>Audio</h4>
      <p>Scene Requirements in Docs -> Sound design and composition in Bitwig -> Implementation and mixing in Unity</p>
    </div>
  </div>
</div>
<div class="container full white">
  <figure>
    <img class="full" src="../img/studies/winevr/settlers.gif" alt=""/>
  </figure>
  <figure>
    <img class="full" src="../img/studies/winevr/display.gif" alt=""/>
    <figcaption>A wine display</figcaption>
  </figure>
  <h3>User Test Screen Recordings</h3>
  <iframe src="https://drive.google.com/file/d/0B11Ag9_N3O2wZUtsQm5DTGdwRVU/preview" width="640" height="480"></iframe>
  <p>For more, check out the <a href="/work/winevr">full case study</a>.</p>
</div>
