<div class="row tl mt5 mb5">
  <h2 class="tc">{{heads.process}}</h2>
  <div class="col-md-4 px5">
    {{> process/process-1}}
  </div>
  <div class="col-md-4 borderx px5">
    <div class="arrow-right fl">
    </div>
    {{> process/process-2}}
  </div>
  <div class="col-md-4 px5">
    <div class="arrow-right fl">
    </div>
    {{> process/process-3}}
  </div>
</div>
