{{> header-small}}
<div class="container-content">
  <div class="container-left white bg-black ">
  </div>
  <!-- SECRETS  -->
  <div class="container-right bg-white fadein">
    <hr class="line">
    <h4>Welcome</h4>
    <h2>MediaLab</h2>
  </div>
</div>
