<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#000000">
  <title>Waldorf</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>

  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
  <body>
    {{{body}}}
  </body>
</html>
