<main class="bc-body contained">
  <a href="/product">< back</a>
  <section>
    <div class="solo full fadein">
      <h1>Mocktail</h1>
      <h3>Years in Operation</h3>
      <h1>2</h1>
      <h3>Clients</h3>
      <h1>45+</h1>
      <h3>Team Size</h3>
      <h1>2-5</h1>
      <h3>Average Customer Acquisition Cost</h3>
      <h1>~$20</h1>
      <h3>Average Project Turnaround</h3>
      <h1>23 days</h1>
    </div>
  </section>
  <section class="">
    <div class="">
      <h2>Great music deserves great art.</h2>
    </div>
    <div class="level">
      <h3>Contents</h3>
      <h4><a href="#">Overview</a></h4>
      <h4><a href="#">Customer</a></h4>
      <h4><a href="#">Product</a></h4>
    </div>
  </section>
  <section>
    <div class="">

    </div>
    <div class="">

    </div>
  </section>
</main>
