<main class="bc-body contained">
  <a href="/product">< back</a>
  <section>
    <div class="solo full fadein bg-image mocktail hightlight-white">
      <h1><span class="bg-white">Mocktail</span></h1>
      <h3><span class="bg-white">Years in Operation</span></h3>
      <h1><span class="bg-white">2</span></h1>
      <h3><span class="bg-white">Clients</span></h3>
      <h1><span class="bg-white">45+</span></h1>
      <h3><span class="bg-white">Team Size</span></h3>
      <h1><span class="bg-white">2-5</span></h1>
      <h3><span class="bg-white">Average Project Turn</span></h3>
      <h1><span class="bg-white">23 days</span></h1>
      <h3><span class="bg-white">Customer LTV % of CAC</span></h3>
      <h1><span class="bg-white">2650% (!)</span></h1>
    </div>
  </section>
  <section class="oh">
    <div class="level desktop-tr">
      <ul>


      <h3>Contents</h3>
      <h4>Overview</h4>
      <h4>Customer</h4>
      <h4>Product</h4>
      </ul>
      <img src="../img/mocktail-flavor.svg" alt="">
    </div>
    <div class="level bg-white">
      <h2>Great music deserves great art.</h2>
      <p>I co-founded, creative directed, and ultimately closed a design agency in the music industry from 2014 to the end of 2016. Mocktail completed about 45 client engagements and was comprised of five talented artists and designers during its lifetime.</p>
      <h3>The End of Art and the Rise of Producerism</h3>
      <p>The forward to Mocktail’s story is <a href="https://www.theatlantic.com/magazine/archive/2015/01/the-death-of-the-artist-and-the-birth-of-the-creative-entrepreneur/383497/">William Deresiewicz’s lucid 2015 dissection of creative industry in The Atlantic.</a> Although we were running Mocktail before the time of publication, Deresiewicz perfectly captures the context and sets the scene for our story.</p>
      <p>TL;DR: Art is dead. Craft is king. Producerism is the new consumerism. Enter, Mocktail.</p>
    </div>
  </section>
  <section>
    <div class="">
      <h2>Prelude</h2>
      <p>In 2014 I launched a web product called DesignMeetsBeats, which was essentially Crew.co for the music industry, in an attempt to help early-career musicians build stronger visual brands.</p><p> After experimenting with two business models, it became clear that in order to truly move the needle for artists, I needed a.) more control and b.) a more direct and robust revenue engine that would scale as musicians scaled their following.</p>
    </div>
    <div class="level">
      <h2>Collaborate</h2>
      <p>Another young designer named Hunter had a couple more years of experience in the music industry and a host of potential clients with established relationships. After meeting, we joined to form Mocktail.</p>
      <p>Using his network and my rigorous application of process and experimentation, we launched Mocktail with an initial two offerings for clients at the end of 2014, partnering up with established musicians and blogs for content marketing.</p>
    </div>
  </section>
  <img src="../img/studies/mocktail/mocktail-logos.png" alt="" class="full mt3">
  <section>
    <div class="full solo">
      <h2>The Customer</h2>
      <h3>Electronic Musicians with following (f) 1000 < (f) < 10000 across all channels.</h3>
      <p>Building an artist career in music today is radically different from doing it 30 years ago. Audience critical mass is about 10,000 active followers to support one team member with regular monetization like pay-what-you-want albums paired with premium offerings for superfans.</p>
      <p>This has given rise to a thriving ecosystem of monetized properties promoting, developing, releasing, and consuming music online, all of which feeds into the offline world of live shows and merch sales.</p>
      <p>The artists involved and the people behind these properties are Mocktail's clients.</p>
    </div>
  </section>
  <section>
    <div class="solo full">
      <h3><span class="border-top-blue">Musician Startup Cycle </span>&amp;</h3>
      <h3><span class="bg-dark white">Mocktail Product Lifecycle</span></h3>
      <ul class="timeline mt4">
        <li><h5>(followers)</h5><h4>Early days</h4><p>No following</p></li>
        <li><h5>(f) = ~500</h5><h4>Style &amp; Tone development</h4><p>Artist is finding her sound.</p></li>
        <li class="product"><h4>Mocktail: Sketch</h4><p>$99 logo sketch offering. Net financial loss for Mocktail. Crucial for the artist. Establishing relationship.</p></li>
        <li><h5>(f) = 1,000</h5>
        <p>The artist has found her sound but not her audience. No regular monetization. Releases on promotional properties like SuicideSheep and Liquicity.</p></li>
      </ul>
      <ul class="timeline mt4">
        <li class="product"><h4>Mocktail: Art Direction / Cover Art</h4><p>Recurring revenue with each single release, usually subsidized by online labels. Relationship becomes profitable for Mocktail.</p></li>
        <li><h5>(f) = 5,000</h5>
        <p>Brand materials now extremely important for growth. Labels are paying for album art. Releases on leading sublabels and artist-owned online labels.</p></li>
        <li class="product"><h4>Mocktail: Visual ID Development</h4><p>Major engagement. Build every piece of the visual brand and lay groundwork for next years.</p></li>
        <li><h5>(f) = 10,000+</h5>
        <p>Artist has found her audience and is delivering regularly monetized content and playing shows domestically and abroad.</p><p>Mocktail continues making recurring revenue with each release.</p></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="">
      <h2>The Product(-ized Service)</h2>
      <p>Mocktail makes thoughtful visual identities and graphic art, delivered  professionally and consistently.</p>
      <h3>The Value</h3>
      <p></p>Customers use these visual identities when working with promoters, agents, and labels to book shows and produce promotional material. The music industry is obsessed with branding to a degree that makes tech companies look like weekend warriors, so having design materials that pass the “sniff test” can be crucial when starting an artist career.
      </p>
      <img src="../img/medialab/mocktail/revival.jpg" alt="" class="full">
      <img src="../img/medialab/mocktail/refracted.jpg" alt="" class="full">
    </div>
    <div class="">
      <h3>Offerings</h3>
      <p>Over time, I refined Mocktail's offerings, based on my team's strengths and the general types of projects we were landing, into three distinct "productized services." Each followed a documented, improvable process ensuring quality and timely delivery. It also made it possible to quickly contract new designers as projects scaled.</p>
      <h5>Offering #1</h5>
      <h4>Sketch</h4>
      <p>The $99 offering that gets us in the door. More than half of all Sketch clients come back for 3+ projects based on their positive experience with the initial engagement.</p>
      <p>One thing Techstars impressed upon me above everything else was their motto of "give first." Mocktail gave first, and got more in return.</p>
      <p>We usually lost $150 on these projects. If you count that as part of our CAC, LTV-as-% goes down to around 435%. It's good for taxes.</p>
      <h5>Offering #2</h5>
      <h4>Cover Art</h4>
      <p>The bread and butter. Subsidized by labels and promo channels, art is cheap to produce (usually a designer's afternoon + some revision cleanup).</p>
      <p>Musicians and labels need a lot of art. Repeating clients had art needs every ~4 months.</p>
      <h5>Offering #3</h5>
      <h4>Visual ID</h4>
      <p>The larger engagement and the core of Mocktail's profit. Lots of logo work and art direction, tied in with some digital strategy.</p><p> Project management time is drastically reduced because almost all of these clients have worked with Mocktail before and know the drill.</p>
    </div>
  </section>
  <section>
    <div class="">
      <h2>Lessons Learned</h2>
      <h3>Co-Founders</h3>
      <p>Co-founding really is a little bit like marrying someone. I ultimately ended up buying out my co-founder and growing the team beyond him due to frictions in working style and unrelated personal events. Today I am much, much more intense about vetting the people I collaborate with.</p>
      <h3>Project Management</h3>
      <p>I ran most of the projects that came through Mocktail and learned a huge amount about keeping stakeholders happy, managing communication styles, timelines and deadlines, and putting out fires.</p>
      <h3>Hiring &amp; Firing</h3>
      <p>Just really hard. This is still my weakest (known) area as a designer. I escaped with only a few burned bridges and a deep respect for the importance and craft of hiring good team members.</p>
      <h3>Design</h3>
      <p>During my time with Mocktail I produced upwards of 3,000 logo sketches and almost a hundred art drafts. In-the-trenches practice was a great way to discover and refine my process for logo, iconography, and graphic design.</p>
    </div>
    <div class="">
      <img src="../img/medialab/mocktail/refracted-sky.png" alt="" class="full">
      <img src="../img/medialab/mocktail/hollowpoint.png" alt="" class="full">
    </div>
  </section>
  <a href="/product">< back</a>
</main>
