<main class="bc-body contained">
  <section class="fadein">
    <div class="tr">
      <img src="img/profile-photo.jpg" class="profile" alt="">
    </div>
    <div class="bg-white">
      <h4>Bio</h4>
      <h2 class="mt0">Trevor Waldorf</h2>
      <p>As a UX and product designer I've worked on projects with Silicon Valley Bank, METRO Group, Techstars, JetBlue, and a spread of venture-backed startups in the US, UK, and Germany.</p>
      <p>After going through Techstars Boulder in 2014, I led Mocktail, a design agency in the music industry in Berlin, Germany until fall of 2016.</p>
      <p>Last fall I worked at Fresh Tilled Soil in Boston as a UX strategy apprentice, and have since been building VR products and freelancing as a product and digital brand consultant.</p>
      <p>The portfolio below highlights how I think about product through three key projects across mediums and industries. Although a disproportionate amount of my design career has been spent producing wireframes and interface flows, this portfolio takes a higher-level approach and collects artifacts from all steps of the product process, as well as some lessons learned.</p>
    </div>
  </section>
  <section class="">
    <div class="desktop-tr">
      <h2>Product</h2>
    </div>
    <div class="list">
      <!-- <hr class="line"> -->
      <a href="/product/mocktail" alt="Link to Virtual Reality tours" class="number one">
        <h4>Entrepreneurship</h4>
        <h3>Mocktail</h3>
        <p>Great music deserves great art. How to design a business in the music industry.</p>
        <h5>Calculate some LTV →</h5>
      </a>
      <a href="/product/wine" alt="Link to Virtual Reality tours" class="number two">
        <h4>New Product Dev</h4>
        <h3>WineVR</h3>
        <p>Walk through the history of a vineyard in virtual reality to uncover the craft of winemaking.</p>
        <h5>Squish some grapes →</h5>
      </a>
      <a href="/product/upknown" alt="Link to Virtual Reality tours" class="number three">
        <h4>Interaction</h4>
        <h3>Upknown</h3>
        <p>A tactical case study in relationship classification, product onboarding, and email interfaces.</p>
        <h5>Check out the flow →</h5>
      </a>
    </div>
  </section>
  <section class="bg-dark white">
    <div class="desktop-tr">
      <h2>Development</h2>
    </div>
    <div class="list">
      <a href="/development/webvr" class="number one clean">
        <h4>A-Frame/Three.js</h4>
        <h3>Physical Systems Modeling</h3>
        <p>Replicating interactions with physical systems using an entity-component approach.</p>
        <h5>Javascript eats the world →</h5>
      </a>
      <a href="http://tourlawrence.org" target="new" alt="Link to TourLawrence.org" class="number two clean">
        <h4>Front-End &amp; ARKit</h4>
        <h3>TourLawrence.org</h3>
        <p>An online augmented-reality experience for an  historical walking tour. The AR portion is only accessible via the signs in Lawrence, MA.</p>
        <h5>Live site →</h5>
      </a>
    </div>
  </section>
  <!-- <section>
    <div class="desktop-tr">
      <h2>A brief timeline of events</h2>
    </div>
    <div class="list">
      <h5>Current</h5>
      <p>VR + Various Projects</p>
      <h5>Spring 2017</h5>
      <p>VR + UX and Brand Freelancing</p>
      <h5>Fall 2016</h5>
      <p>UX Strategy Apprentice @ Fresh Tilled Soil</p>
      <h5>Spring-Fall 2015</h5>
      <p>Product Design @ Upknown</p>
      <h5>Late 2014-2016</h5>
      <p>Co-Founder / Creative Lead @ Mocktail</p>
      <h5>Fall 2014</h5>
      <p>Techstars Boulder</p>
      <h5>Spring 2014</h5>
      <p>Product Design Intern @ Waffle.io / Rally Software (now CA Technologies)</p>
      <h5>2013</h5>
      <p>Founder @ LearnGIMP.org</p>
    </div>
  </section> -->
</main>
<footer class="bg-dark white bc">
  <a href="https://dribbble.com/twaldorf" target="new">Dribbble</a>
  <a href="https://www.linkedin.com/in/trevor-waldorf-431b2183" target="new">LinkedIn</a>
  <a href="https://twitter.com/tjwaldorf" target="new">Twitter</a>
  <a href="https://soundcloud.com/iamhexeater" target="new">Soundcloud</a>
  <hr class="line white">
</footer>
