<main class="bc-body contained bg-black">
  <a href="/product">< back</a>
  <section class="bg-black white full fadein">
    <div class="solo bg-image wine-render full">
      <h3>U.S. Domestic Wine Sales</h3>
      <h1>$<span class="counter" data-count="55">0</span>BN USD</h1>
      <h3>Bonded Wineries in the U.S.</h3>
      <h1><span class="counter" data-count="10000">0</span>+</h1>
      <h3>Direct-to-consumer percentage of total wine sales</h3>
      <h1>~<span class="counter" data-count="60">0</span>%</h1>
      <h3>The year wineries are stuck in re: direct-to-consumer marketing</h3>
      <h1><span class="counter" data-count="2007">0</span></h1>
    </div>
  </section>
  <section class="">
    <div class="">
      <h2>Problem</h2>
      <p>A winery’s biggest asset is the experience of visiting the vineyards and
      tasting room. But worsening regulatory environments limit the size and
      throughput of tasting rooms while restricting vineyard events, making it
      <strong>impossible to scale the first-hand winery experience that distinguishes
      a wine to consumers and buyers.</strong></p>
    </div>
    <div class="level">
      <h2>Solution</h2>
      <p>We recreate the vineyard and winery experience in virtual reality where buyers and consumers are immersed in a winery’s history, rich atmosphere, and take part in daily operations.</p>
      <p>It’s a taste of the winery experience.</p>
    </div>
  </section>
  <figure>
    <img class="full" src="../img/studies/winevr/display.gif" alt=""/>
    <figcaption>Figure: a wine display</figcaption>
  </figure>
  <section>
    <div class="solo full">
      <h2>Process</h2>
      <h3>Phase 1: Discovery</h3>
      <p>My research began with interviews with distributors, a wine shop owner, and liquor store employees to set context and build domain knowledge.</p>
    </div>
  </section>
  <figure>
    <img src="../img/studies/wineux/industry.gif" class="full" alt="The wine industry supply chain by need, tools, and obstacles" />
    <figcaption class="">Wine Industry Supply Chain (domestic consumer)</figcaption>
  </figure>
  <section>
    <div class="solo full">
      <h3>Phase 2: Define</h3>
      <p>Later I interviewed brewery owners and conducted contextual inquiry with consumers, notetaking as people talked me through their wine purchasing process in retail and service environments.</p>
      <p>This led me to an initial problem statement that I used to form a couple hypotheses and corresponding prototypes.</p>
      <h4>A Behavior Model</h4>
      <p>Using research insights, I outlined a surface-level wine purchase behavior model to clarify and communicate my understanding of the people involved and how they made purchase decisions. <a href="../img/studies/wineux/behavior.pdf">You can read it here (44kb).</a></p>
      <h4 id="docs">Personas and Experience Maps</h4>
      <p>From my interview themes, I synthesized three personas, built out empathy maps, and used those personas as swimlanes in an experience map for the wine purchasing process. For brevity, I have excluded these deliverables with the exception of the experience map, below.</p>
    </div>
  </section>
  <figure class="">
    <a href="../img/studies/wineux/xpmap.gif" target="new">
    <img src="../img/studies/wineux/xpmap.gif" class="full bg-white" alt="Experience Map with Personas as swimlanes" /></a>
    <figcaption class="">Figure: Initial Experience Map (opens in a new window)</figcaption>
  </figure>
  <section>
    <div class="solo full">
      <h3>Phase 3: Diverge (Initial Prototypes and Testing)</h3>
      <p>From the opportunities in my experience map and the product-market gaps, I outlined four solutions: a locally-available wine list, a wine education tool, a stronger retail environment utilizing virtual reality, and marketing tools for wine producers.</p>
      <p>Initially I built a mobile prototype that provided a locally-available wine list, but after a few user tests, it was clear that the app wasn't getting to the heart of the problem or leveraging the unique aspects of the wine industry.</p>
      <h5>Test Results: 🚫</h5>
    </div>
  </section>
  <figure>
    <img src="../img/studies/wineux/prototype-layout.gif" class="full bg-white" alt="Cellar app prototype in Sketch" />
    <figcaption>Figure: "Cellar" mobile app prototype in Sketch</figcaption>
  </figure>
  <section>
    <div class="">
      <h2>To VR</h2>
      <p>I had a few distinct ideas for VR prototypes which I pitched to mentors at Fresh Tilled Soil. After my presentation, <a href="https://twitter.com/im_tricious" target="_blank">Trish</a> pulled me aside and articulated the idea that was staring me in the face but I couldn’t see: just build a virtual vineyard tour. Thanks Trish. </p>
      <h3>Why Virtual Reality</h3>
      <p>One of the best ways to fall in love with a wine is to walk through the vineyards and wineries from which it is produced while soaking up the sights, sounds, and smells associated with the process of creating the wine. </p>
      <p>Although there are no smells or tactile sensations involved in virtual reality (yet), my guess was that being immersed in a virtual vineyard could be an engaging and educational experience.</p>
      <p>If you're interested in the nitty-gritty of Unity development and VR user testing, there is a much longer writeup <a href="/work/winevr" target="new"> that covers my dev process in-depth here.</a></p>
    </div>
    <div class="">
      <h2>"The virtual winery tour is a super idea. It is the visual aid that should be incorporated into every winery tasting room."</h2>
      <h3>-Earl Singer, WineDefined</h3>
    </div>
  </section>
  <section>
    <div class="solo full">
      <h2>VR Prototype</h2>
      <h5>Some gifs</h5>
    </div>
  </section>
  <section>
    <div class="">
      <figure>
        <img class="full" src="../img/studies/winevr/lookaround.gif" alt=""/>
      </figure>
    </div>
    <div class="level">
      <figure>
        <img class="full" src="../img/studies/winevr/settlers.gif" alt=""/>
      </figure>
    </div>
  </section>
  <section>
    <div class="">
      <figure>
        <img class="full" src="../img/studies/winevr/plaques.gif" alt=""/>
      </figure>
    </div>
    <div class="">
      <iframe src="https://drive.google.com/file/d/0B11Ag9_N3O2wZUtsQm5DTGdwRVU/preview" width="640" height="330"></iframe>
    </div>
  </section>
  <section>
    <div class="solo full">
      <h3>User Testing Results</h3>
      <p>Although most of my testing was focused on usability,  walking through the prototype generated a huge amount of enthusiastic discussion by users about wine, favorite vineyards, past experiences, and preferences. It’s no doubt that the prototype makes people excited about wine.</p>
      <p>More importantly, I circled back with industry contacts whom I interviewed during the initial research phase and used them as nodes through whom to reach further into the wine industry for customer development interviews.</p>
    </div>
  </section>
  <section>
    <div class="solo full">
      <h2>Results &amp; Product Status</h2>
      <p>I pursued the product independently after leaving Fresh Tilled Soil, developing customers in the wine industry and expanding on the prototype before sidelining the project due to a slow sales cycle and lack of market interest.</p>
      <p>The wine industry is just beginning to get the hang of email marketing, and is a long way from adopting VR as a marketing strategy. Although interested, no interviewees accepted the idea that a VR experience would convert into case sales. They didn't have the language to conceptualize VR experiences.</p>
      <p>Maybe with more user testing and consumer data an argument could be made on numbers alone, but currently, WineVR is too far ahead of the market to be viable.</p>
      <p>Obviously, VR is applicable to many markets, but not all of these are technically mature enough to adopt. Despite the hype, VR hasn't yet claimed a foothold on the fringes of the mainstream outside of gaming.</p>
    </div>
  </section>
  <a href="/product">< back</a>
</main>
