<div class="container-content">
  <div class="container-left white bg-black ">
    {{> header}}
    {{> nav}}
  </div>
  <div class="container-right bg-white list fadein">
    <hr class="line">
    <h4>Short Story Short</h4>
    <h2>About 👋</h2>
    <p>Don't bury the lede: in high school I was a sex ed teacher through an expansive government experiment in rural Alaska. After four years of data collection the results were inconclusive, but our team did get individual awards from the governor for our service to public health. That's a hard opening act to follow. It's basically all downhill after this paragraph.</p>
    <p>After moving around the western U.S. and the eastern E.U., I'm now settled in Cambridge, MA making technology and service products while preparing a comeback in academia.</p>
    <p>I've been lucky to work in design roles alongside the killer talented people at <a href="http://www.techstars.com/" title="Link to Techstars" target="new">Techstars</a>, <a href="https://www.freshtilledsoil.com/" title="Link to Fresh Tilled Soil" target="new">Fresh Tilled Soil</a>, and <a href="https://www.ca.com/us/products/ca-agile-central.html" target="new" title="Link to Rally Software">Rally Software</a>, among many others. I've also launched and operated two businesses, one in the software training space and the second in <a href="http://mocktail.ink/" target="new" title="Link to Mocktail.ink">the music industry</a>.</p>
    <p>Outside of design, my time is spent <a href="https://artofproblemsolving.com/" target="new">studying</a>, contributing to the mission of the <a href="http://aviation-community.org" target="new">Aviation Community Foundation</a>, and making mediocre music on my cello with talented friends at <a href="https://soundcloud.com/iamhexeater" target="new">Hex Eater</a>.</p>
    Say hello at <a href="https://twitter.com/tjwaldorf">@tjwaldorf</a>
  </div>
</div>
