{{> nav}}
{{> u/cf}}

<div class="bg-ascendeur py5 row">
  <div class="container">
    <div class="white">
      <h4 class="m0 p2 uppercase"><span class="bg-glow p2">Brand</span></h4>
      <h2 class="big thick m0 p2"><span class="bg-glow p2">Ascendeur</span></h2>
      <p class="m0 p2"><span class="bg-glow p2">
        Build outstanding peer groups for entrepreneurs
      </span></p>
    </div>
  </div>
</div>
{{> u/fc}}
<div class="container mt4">
  <div class="mt5 mb5 row tc">
    <img class="logo sm" src="img/ascendeur/logomark.svg" alt="Ascendeur logo" />
  </div>
  <h3 class="glow"><span class="bg-purp px1">Context</span></h3>
  <p class="indent">
    Ascendeur had brought me to a company retreat in advance of the brand project, so I was very familiar with the mission and values. We had previously generated a lot of word clouds and mission statements, so I combined those with a few brainstorming sessions, then got busy sketching from the huge pile of ideas already on paper. I sat in the corner of a cafe in Budapest on the river for a week and produced around 200 sketches, then drafted those up in Illustrator and sent three over.
  </p>
  <img class="img-responsive mb5 mt5" src="img/ascendeur/drafts.gif" alt="Ascendeur logo" />
  <h3 class="glow"><span class="bg-purp px1">Context</span></h3>
  <p class="indent">
    Those drafts then evolved into the final logo over the course of three months. It was a long project. Somewhere in there I got pneumonia. That wasn’t fun. Near the end, I worked through colors, layout, typography, email signatures, and all the weird little deliverable .pdfs that go with comprehensive brand projects.
  </p>
  <img class="img-responsive mb5 mt5" src="img/ascendeur/wip.gif" alt="Ascendeur logo" />
  <img class="img-responsive mb5 mt5" src="img/ascendeur/colors.gif" alt="Ascendeur logo" />
  <hr class="line">
  <img class="img-responsive mb5 mt5" src="img/ascendeur/final.svg" alt="Ascendeur logo" />
  <hr class="line">
  <a href="/"><h4 class="tc mt5 mb3"><< Back to Projects</h4></a>

</div>
{{> footer}}
