<div class="container-content">
  <div class="container-left white bg-black ">
    {{> header}}
    {{> nav}}
  </div>
  <!-- INDEX  -->
  <div class="container-right bg-white list fadein">
    <hr class="line">
    <h2>Bio 👋</h2>
    <h3 class="mt3">Long Story Short</h3>
    <p>I live in Cambridge, MA designing things for fun and for profit.</p>
    <p class="mt2"><a href="https://twitter.com/tjwaldorf">@tjwaldorf</a></p>

    <!-- <h4 class="mt3">How You Can Help</h4>-
    <h3>I need help learning math, physics, and chemistry so I can return to academia.</h3> -->

    <!-- <h4 class="mt3">Short Story Long</h4>
    <h3>When everyone else zigs, I zag.</h3>
    <p class="small">I grew up in Alaska, running around the forest with a blue toy lightsaber. Growing up around my parents who had moved to Alaska in the 80s imprinted a deep sense of independence in me which guides the way I work and live today.</p>
    <p class="small">After studying computer science and competing internationally in speech and debate, I moved to Boulder CO to learn about technology. In Boulder I met Andrew and his </p>
    <p class="small"></p>
    <p class="small"></p> -->
  </div>
</div>
