<div class="container-content">
  <div class="container-left white bg-black ">
    {{> header}}
    {{> nav}}
  </div>
  <!-- INDEX  -->
  <div class="container-right bg-white list fadein">
    <hr class="line">
    <h2>Bio</h2>
    <h3>👋</h3>

    <h4 class="mt3">Long Story Short</h4>
    <h3>I live in Cambridge, MA and I design things on the computer for fun and for profit.</h3>

    <!-- <h4 class="mt3">How You Can Help</h4>
    <h3>I need help learning math, physics, and chemistry so I can return to academia.</h3> -->

    <h4 class="mt3">Short Story Long</h4>
    <h3>When everyone else zigs, I zag.</h3>
    <p class="small">I grew up in Alaska, running around the forest with lightsabers (dual-wielding, of course) and building LEGO®. Growing up around my parents who had moved to Alaska in the 80s imprinted a deep sense of independence in me which guides the way I work and live today.</p>
    <p class="small">At 19 I left the small private school where I was studying computer science and interned at Waffle.io as an interaction designer. From Andrew and his team I learned a set of philosophies, methodologies, and technical skills. Immediately afterwards, I went through Techstars Boulder, which blew my tiny mind to pieces. Working with Nicole and Julie and the 13 badass companies in the program was my own MBA. Fundraising, product design, pitching, org design, managing investor relationships, networks, etc. the list goes on forever.</p>
    <p class="small"></p>
    <p class="small"></p>
  </div>
</div>
