<div class="container-content">
  <div class="container-left white bg-black">
    {{> header}}
    {{> nav}}
  </div>

  <!-- PROJECTS -->
  <div class="container-right bg-white fadein">
    <hr class="line">
    <h2>Clients</h2>

    <h4 class="mt3">Who</h4>
    <h3>Passionate, Kind, and Talented</h3>
    <p class="small">Great relationships of every kind are built over time. Working with passionate, kind, and talented people helps me do better and better work, year-over-year. Many past clients are now friends, mentors, and partners.</p>
    <p class="small">Past clients include musicians, startups, non-profits, small businesses, big businesses, universities and colleges, record labels, researchers, and a state government.</p>

    <h4 class="mt3">How</h4>
    <h3>Execution & Service</h3>
    <p class="small">The ideology is a 50/50 cut of Techstars and Fresh Tilled Soil, two organizations that have impacted how I work. From Techstars, <strong>best-in-class intensity and execution</strong>. From Fresh, <strong>empathetic communication</strong> and an <strong>undying commitment to service.</strong></p>

    <h4 class="mt3">Why</h4>
    <h3>People Are Everything</h3>
    <p class="small">I got into the design field to help people I respect solve hard problems. </p>

    <h4 class="mt3"><a href="/projects">Check out my past projects ></a></h4>
  </div>
</div>
