<div class="container-content">
  <div class="container-left white bg-black">
    {{> header}}
    {{> nav}}
  </div>

  <!-- PROJECTS -->
  <div class="container-right bg-white fadein">
    <hr class="line">
    <h2>Clients</h2>

    <h4 class="mt3">Who I Help</h4>
    <h3>Passionate, Kind, and Talented</h3>
    <p class="small">I'm in it for the long game. Great relationships of every kind are built over time. Working with passionate, kind, and talented people helps me do better and better work, year-over-year. Many past clients are now friends, mentors, and partners.</p>
    <p class="small">I work with musicians, startups, non-profits, small businesses, big businesses, universities and colleges, record labels, researchers, and one time I worked with the government. Once. A long time ago.</p>

    <h4 class="mt3">How I Help Them</h4>
    <h3>Execution & Service</h3>
    <p class="small">My ideology is a 50/50 cut of Techstars and Fresh Tilled Soil, two organizations that have impacted how I work and who I am. From Techstars I take <strong>best-in-class intensity and execution</strong>. From Fresh I take <strong>empathetic communication</strong> and an <strong>undying commitment to service.</strong></p>

    <h4 class="mt3">Why I Do It</h4>
    <h3>People Are Everything</h3>
    <p class="small">I got into the design field to help people I respect solve hard problems. My guiding light is always helping others further their own critical outcomes through design. All good things come from people.</p>

    <h4 class="mt3"><a href="/projects">Check out my past projects ></a></h4>
  </div>
</div>
