<div class="container-content">
  <div class="container-left white bg-black">
    {{> header}}
    {{> nav}}
  </div>

  <!-- PROJECTS -->
  <div class="container-right bg-white fadein">
    <hr class="line">
    <h2>Contact</h2>

    <ul>
      <li><a href="https://twitter.com/tjwaldorf">Twitter</a></li>
      <li><a href="mailto:trevor.waldorf@gmail.com">Email</a></li>
      <li><h4>907.299.5842</h4></li>
    </ul>
  </div>
</div>
