<div class="container-content">
  <div class="container-left white mt5">
    <h1 class="mb0">"Schucky-darn."</h1>
    <h3 class="ml4 mt0"><em>- William Shakespear, </em>As You Like It</h3>
    <h4 class="mt3">This page ain't real. Just like this quote.</h4>
  </div>
</div>
