{{> aframe-sun}}
<div class="container-content">
  <div class="container-left white">
    <div class="fadein">
      {{> header}}
      {{> nav}}
    </div>
  </div>
  <!-- INDEX  -->
  <!-- <div class="container-right bg-white list oh p0 img-hero"> -->
    <!-- <img src="../img/trevor-small.jpg" alt="Here is a picture of me making a goofy face" class="fadein" /> -->
  <!-- </div> -->
</div>
{{> aframe-sun-scripts}}
