<div class="container-content">
  <div class="container-left white bg-black ">
    {{> header}}
    {{> nav}}
  </div>
  <!-- INDEX  -->
  <div class="container-right bg-white list oh p0 img-hero">
    <img src="../img/trevor-small.jpg" alt="Break out the distortion pedal." class="fadein" />
  </div>
</div>
