<div class="container-content">
  <div class="container-left white bg-black">
    <h1>Trevor Jon Waldorf</h1>
    <h6>VR & Product Design 🔥</h6>
    <nav class="mt3">
      <ul>
        <li><a href="#">Why</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Writing</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
  <div class="container-right bg-white">
    <hr class="line">
    <h2>Projects</h2>
    <h3>🤔🚀</h3>

    <h4 class="mt3">Virtual Reality</h4>
    <h3>Prototyping VR vineyard experiences in Unity5</h3>
    <p class="small">Main paragraph of descriptive text. Definitely multiple lines long, hence the tight line height.</p>
    <h5>Learn the process →</h5>

    <h4 class="mt3">Nonprofits</h4>
    <h3>Bring design to aviation education</h3>
    <p class="small">Main paragraph of descriptive text. Definitely multiple lines long, hence the tight line height.</p>
    <h5>Take off →</h5>

    <h4 class="mt3">Businesses</h4>
    <h3>Design for the undergroud dance music industry</h3>
    <p class="small">Main paragraph of descriptive text. Definitely multiple lines long, hence the tight line height.</p>
    <h5>Hear the tale →</h5>

    <h4 class="mt3">Products</h4>
    <h3>Connect the superconnectors</h3>
    <p class="small">Main paragraph of descriptive text. Definitely multiple lines long, hence the tight line height.</p>
    <h5>Key product decisions →</h5>
  </div>
</div>
