<div class="container-content">
  <div class="container-left white bg-black slideup">
    {{> header}}
    {{> nav}}
  </div>

  <!-- PROJECTS -->
  <div class="container-right bg-white list fadein">
    <hr class="line">
    <h2>Projects</h2>
    <a href="/work/wineux">
      <h5>User Experience</h5>
      <h3 class="mt0">The UX of Wine</h3>
      <p class="mb1">Using technology to redesign the consumer experience of a legacy industry. </p>
      <h6>Squish some grapes →</h6>
    </a>
    <a href="/work/winevr" alt="Link to Virtual Reality Projects">
      <h5>Virtual Reality</h5>
      <h3 class="mt0">VR Vineyard Experiences</h3>
      <p class="mb1">Recreating the powerful wine experience of visiting a vineyard⎯in virtual reality.</p>
      <h6>Learn the process →</h6>
    </a>
    <!-- <div class="grey">
      <h5>Entrepreneurship</h5>
      <h3 class="mt0">The Mocktail Story</h3>
      <p class="mb1">The many sins of a small design studio in the music industry. From the high peaks of the Rocky Mountains to the underground clubs of Eastern Europe.</p>
      <h6>Hear the tale →</h6>
    </div> -->
    <!-- <a href="/work/upknownid">
      <h5>Interaction Design</h5>
      <h3 class="mt0">Upknown: Exposing Networks</h3>
      <p class="mb1">A tactical design case study in relationship classification, product onboarding, and email interfaces.</p>
      <h6>Key product decisions →</h6>
    </a> -->
  </div>
</div>
