{{> nav}}
<div class="container">
  <p>
    Still collecting thoughts.
  </p>
  <img class="img-responsive mt5 mb5" src="img/refracted/logo.png" alt="Art"/>
  <img class="img-responsive mt5 mb5" src="img/refracted/compilation.png" alt="Art"/>
  <img class="img-responsive mt5 mb5" src="img/refracted/secrets.png" alt="Art"/>
  <img class="img-responsive mt5 mb5" src="img/refracted/sapphires.png" alt="Art"/>
  <img class="img-responsive mt5 mb5" src="img/refracted/draft.png" alt="Art"/>
  <a href="/"><h4 class="tc mt5 mb5"><< Back to Projects</h4></a>
</div>
{{> footer}}
