<div class="container-content">
  <div class="container-left white bg-black ">
    {{> secret-header}}
    {{> secret-nav}}
  </div>
  <!-- SECRETS  -->
  <div class="container-right bg-white fadein">
    <hr class="line">
    <h2>/secret</h2>
    <h3>🙊</h3>
    <h4>Techstars rates</h4>
    <p>I work with TS companies at significantly reduced daily rates (~50%), remote or onsite. Currently I'm based in Boston but make trips to Boulder and  Berlin.</p>
    <h4>How I can help</h4>
    <p>Early brand materials, pitch decks (+ animation), product design, UX and interaction design, user research, and user testing. Familiar with information architecture design, content strategy (not the marketing kind), and microcopy. Front-end development if it's doomsday.</p>
    <h5><a href="/projects">Read UX case studies →</a></h5>
    <h5><a href="/work/activities">Read processes →</a></h5>
  </div>
</div>
