{{> nav}}
<div class="container">
  <div class="white row px1">
    <h4 class="m0 p2 uppercase"><span class="bg-glow p2">Web Design</span></h4>
    <h2 class="big thick m0 p2"><span class="bg-glow p2">METRO Accelerator, Powered by Techstars</span></h2>
    <p class="m0 p2"><span class="bg-glow p2">
      Generate leads for the world’s only HoReCa tech accelerator
    </span></p>
  </div>
  <p>
    Still collecting thoughts.
  </p>
    <hr class="line">
    <h3 class="glow"><span class="bg-purp px1">Status</span></h3>
    <p>
      Not yet launched, caught in political limbo as I understand. Check out a preview build <a href="https://brian-daly-zvjn.squarespace.com">here</a> after entering in a captcha.
    </p>
    <h3 class="glow"><span class="bg-purp px1">Process</span></h3>
    <p>
      12-day timeline. Four days of research + design, two days of feedback, four days of development (built from scratch on SquarespaceDeveloper), two days of feedback.
      <img class="img-responsive mt5 mb5" src="img/metroux.png" alt="" />
    </p>
    <h3 class="glow"><span class="bg-purp px1">Tech</span></h3>
    <p>
      Building on SquareSpace Developer is a nightmare. Use <a href="https://github.com/NodeSquarespace/node-squarespace-server">node-squarespace-server</a> to run it on a local environment and break out the huge CSS resets. Bind shortcuts in your consol for git add, git commit -am '' and git push origin master, because Squarespace adds CSS on top of your CSS on the server.
    </p>
  </div>
  <a href="/"><h4 class="tc mt5 mb3"><< Back to Projects</h4></a>

  </div>
  {{> footer}}
