<div class="container-content">
  <div class="container-left white bg-black ">
    {{> header}}
    {{> nav}}
  </div>
  <!-- INDEX  -->
  <div class="container-right bg-white list fadein">
    <hr class="line">
    <h2>Writing</h2>
    <h3>🖋</h3>

    <h3>2016</h3>
    <ul>
      <li><a href="http://www.freshtilledsoil.com/experimental-tools-for-career-design">Experimental Tools for Career Design</a> with <a href="https://twitter.com/evanfryan">Evan Ryan</a></li>
      <li><a href="http://www.freshtilledsoil.com/apprentice-show-and-tell-virtual-reality-for-wine/">Apprentice show and tell: virtual reality for wine</a> on <a href="https://twitter.com/freshtilledsoil">Fresh Tilled Soil</a></li>
      <li><a href="http://www.freshtilledsoil.com/apprenticeship-program-25-complete/">Apprenticeship program: 25% complete</a> on <a href="https://twitter.com/freshtilledsoil">Fresh Tilled Soil</a></li>
    </ul>
    <h3>2015</h3>
    <ul>
      <li><a href="http://edmprod.com/hiring-designers/">When and How to Hire a Graphic Designer</a> on <a href="https://twitter.com/edmprod">EDMProd</a></li>
      <li><a href="http://www.slideshare.net/TrevorWaldorf/what-are-startup-ecosystems">What Are Startup Ecosystems?</a> given at Amosfera for <a href="http://startup.hr/blog/sto-biste-trebali-znati-ako-razmisljate-o-pokretanju-startupa/">Coworking Week Split 2015</a></li>
    </ul>
    <h3>2014</h3>
    <ul>
      <li>Book: <a href="https://www.amazon.com/Creative-Money-Z-Creatives-Online-ebook/dp/B00HSERTQO">Creative Money A-Z: 26 Ways for Creative to Make Money Online</a> (it was a phase)</li>
      <li><a href="https://www.reddit.com/r/edmproduction/comments/2vhbq1/sample_packs_anyone_make_them_and_sell_them/cohrpt8/">How to Sell Sample Packs</a> on Reddit</li>
      <li><a href="http://startupcolorado.com/5-ways-to-get-the-most-from-startup-summer">5 Ways to get the most from Startup Summer</a> on <a href="http://siliconflatirons.org/student-opportunities/startup-summer/">Silicon Flatirons</a></li>
      <li><a href="http://edmprod.com/professional-string-sounds/">How to Create Professional String Orchestra Sounds Without Selling Your Soul</a> on <a href="https://twitter.com/edmprod">EDMProd</a></li>
      <li><a href="http://edmprod.com/6-drum-tips/">Drum Tips From 6 Talented Drum & Bass Producers</a> on <a href="https://twitter.com/edmprod">EDMProd</a></li>
    </ul>
    <h3>2013</h3>
    <ul>
      <li><a href="http://edmprod.com/artist-branding/">A Holistic Approach to Artist Branding and Social Media</a> on <a href="https://twitter.com/edmprod">EDMProd</a></li>
    </ul>
  </div>
</div>
