$purp: #252938;
$glow: #5ca5fb;
$tangelo: #91e1fa;
$red: #b32c39;
$dark-red: rgb(78, 26, 26);
$dark: #222;
$dark-t: rgba(#222222, 0.45);
$grey: #ccc;
$light: #eee;
$gradient-img: linear-gradient(to right, $tangelo, $glow 10%, $red, $purp);

.glow{color:$glow}
.grey{color: $grey}
.white{color:white}
.black{color:black}
.red{color:$red}

.bg-black {
  background-color: black;
  @extend .white;
  a{color: white;}
}
.bg-white {background-color: white}


.bg-image-example{
  background-image:url('../img/articles_bg.svg');
  background-size: 130%;
  background-position: center;
  background-color: $purp;
}

.bg-image {
  background-image:url('../img/lime.svg');
  background-size: 150%;
  background-position: 150px 50%;
  background-repeat: no-repeat;
  &.clients{
    background-image:url('../img/logobatchorange.svg');
    background-size: 100%;
    background-position: 50px 50%;
  }
  &.wine{
    background-image:url('../img/winebottle.svg');
    background-size: 50%;
    background-position: 150% top;
  }
  &.upknown{
    background-image:url('../img/studies/upknown/upknown.svg');
    background-size: 85%;
    background-position: 270px 50%;
  }
}
