.img-hero {
  img{
    // max-width:101%;
    // max-height:101%;
    // height:100vh;
    min-width:100%;
    // max-height:100%;
    // position: fixed;
  }
}

@media screen and (min-width: 1080px) {
  .container-right{
    overflow:visible !important;
  }
}

iframe {max-width: 100%;}

img {
  &.full {
    max-width:100%;
  }
  &.figure {
  }
}

figcaption {
  @extend .mb3;
}

aside {
  border: 1px solid black;
  @extend .px3;
  @extend .py2;
}
