.img-hero {
  img{
    // max-width:101%;
    // max-height:101%;
    min-width:100%;
    min-height: 100%;
  }
}

@media screen and (min-width: 1080px) {
  .container-right{
    overflow: visible;
  }
}

iframe {max-width: 100%;}

@media screen and (max-width: 680px) {
  iframe{
    display: none;
  }
}

img {
  &.full {
    max-width:100%;
  }
  &.figure {
    padding: 10% 0;
    &.small {
      max-height: 10rem;
    }
  }
  &.icon {
    max-width: 5rem;
    padding: 1.4rem;
  }
}

figure {
  margin: 3rem 0 1rem 0;
  &.plax {
    max-height: 500px;
    overflow: hidden;
  }
}

aside {
  border: 1px solid black;
  padding: 1.4rem 1.5rem 0rem 1.5rem;
}

.title {
  max-width: 15rem;
}
