.img-grid {
  max-width: 100%;
  height: auto;
  transition: .05s ease;
  &:hover {
    max-width:105%;
    height: auto;
    margin: -2.5% -2.5%;
  }
}
.icon{
  margin: auto;
  &.sm {height: 100px;}
  &.md {height: 130px;}
  &.lg {height:170px;}
  &.xl {height:200px}
}
.img {
  &.timeline {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 3px transparent $light;
    border-radius: 10px;
  }
  &.sm {height: 80px;}
}
.clip {
  clip-path: ellipse(50%);
}
.tr1{transform:translateX(20px)}
.testimonials{
  .indent.card{
    border-radius: 8px;
  }
}
.quote {
  background-repeat:no-repeat;
  background-position: -7% 14%;
  background-size: 25% 25%;
}
