.brick {
  a {
    // color: white;
  }
  height: 250px;
    &:hover{
      figcaption{
        bottom:-5px;
        left:-2px;
      }
    }

  figcaption {
    transition: .05s ease-in-out;
    position: absolute;
    bottom: 0;
    left:0;
    max-width: 80%;

  }
}

.img-inline {
  width: 100%;
}
