.container {
  padding: 1.5rem 7.5% 3rem 7.5%;
  max-width:60%;
  &.full {max-width: 50%; @extend .ma; @extend .box;}
  &.mostly {max-width:80%; @extend .ma; @extend .box;
    padding-top: 0; padding-bottom: 0;
  }
  margin: auto;
}

.aframe{
  max-width:100%;
  // max-height: 90%;
  position: absolute;
  top:0;
  // left: 30%;
  z-index: -1;
  // @extend .oh;
}

.container-content{
  display: flex;
  max-width:1080px;
  margin: auto;
  &.flex-around {
    justify-content: space-around;
    align-items: stretch;
  }
}

.container-left{
  @extend .box;
  @extend .container;
}

.container-right{
  @extend .box;
  @extend .container;
}
.container-right:last-child > h6:last-of-type{
  padding: 20px;
}

section {
  margin: 4rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content:space-between;
  &.jl{
    justify-content:flex-start;
    padding: .5rem 1.5rem; margin: 0 15px;
  }
  &.jr{
    justify-content:flex-end;
    padding: .5rem 1.5rem; margin: 0 15px;
  }
}

.affix {
  // position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  &.top {
  }
  &.bar {
    @extend .box;
    border-bottom: 1px solid white;
  }
}

nav {
  // max-width: 60%;
  // padding: 0;
}

.cl{
  margin: 0 15px;
  padding: .5rem .2rem;
  p {margin-bottom: 0}
}

.cl-2{
  margin: 0;
  width: 45%;
}

@media screen and (max-width:680px), handheld and (orientation: portrait) {
  .container{
    padding: 52px 15% 52px 15%;
    max-width:100%;
    &.mostly{max-width:100%; padding-top: 0;}
    &.full{max-width:100%;}
  }
  .container-content{
    display: block;
  }
  .row{display: block;}
  .cl{max-width: 90%; padding: 0; margin: 1rem 0;}
  .cl-2{width:100%;}
  // .aframe{display:none;}
  // .container-left{background-color: black;}
  nav {padding: 0 15% 7.5%;
    a{margin: 0 2rem .5rem 0;
    display:block;}}

}

@media screen and (max-width:1280px) and (min-width:681px), handheld and (orientation: portrait) {
  .container{
    max-width: 75%;
    &.full{max-width: 75%;}
  }
  .row{display: block;}
  .cl{max-width: 90%; padding: 0; margin: 2rem 0;}
  .cl-2{
    margin: 0;
    width: 100%;
  }
  nav {padding: 0 15% 7.5%;
    a{margin: 0 2rem .5rem 0;
    display:block;}}
}
