:root {
font-size: 16px;
}

$serif: 'Georgia', serif;

body {
  font-family: $serif;
  font-size: 1.0625rem;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: #000000;
  background: linear-gradient(to right, black 49.99%, white 50%);

  overflow-y: scroll;
}

a{
  @extend .black;
  transition: all ease .04s;
  text-decoration: none;
  border: none;
  font-weight: 600;
}

.bg-black a{
  &:hover{
    &:not(.clean){
      padding: 0 0 0 3px;
    }
  }
}

p {
  font-family: $serif;
  line-height: 26px;
  margin: 8px 0 17px 0;
  letter-spacing: normal;
  figcaption & {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  &.small{
    margin: 8px 0 0 0;
    font-size:1.0625rem;
    line-height: 1.45rem;
    font-weight: 300;
  }
}

h1,h2,h3,h4,h5,h6,a{
  font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .04rem;
};

h1{font-size: 2.625rem;font-weight: 600;
  line-height:3rem;}
h2{font-size:2.125rem;font-weight: 700;
  line-height:3rem;}
h3{font-size:1.4375rem;font-weight: 500;
  line-height:1.7rem;
  margin: 5px 0 0 0;}
h4{font-size:11px;font-weight: 500;
  line-height:0.8125rem;
  text-transform: uppercase;
  margin: 4px 0 0 0;
  &.list{
  margin: 20px 0 0 0;}
  letter-spacing: .07rem;}
h5{font-size:0.6875rem;font-weight:400;
  margin: 11px 0 0 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid $light;}
h6{font-size:1.0625rem;font-weight: 300;
  line-height:1.7rem;
  margin: 8px 0 0 0;
  letter-spacing: normal;
}

hr{width:20%;
  &.line {
    width: 100%;
    border: none; border-top: 1px solid black
  }
  border: none; border-top: 1px solid $light
}

nav li{
  margin: 0 0 13px 0;
}

.indent {text-indent: 0.5em;}
.uppercase{text-transform: uppercase;}
.nocase{text-transform: none;}
