:root {
  font-size: 16px;
  line-height: 24px;
}

$serif: 'Georgia', serif;
$sans: 'Avenir Next', 'Avenir', 'Helvetica', 'Arial', sans-serif;

body {
  font-family: $serif;
  font-size: 1.0625rem;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: $dark;
}

a{
  @extend .black;
  transition: all ease .04s;
  text-decoration: underline;
  border: none;
  font-weight: 600;
}

nav{
  &.nav-secondary{
    a{
      font-weight: 400;
      text-decoration: underline;
    }
  }
}

.list {
  & a{
    text-decoration: none;
  }
  h5 {
    @extend .mt35;
  }
}

.nav-item{
  margin: 0 0 13px 0;
}

.white a{
  text-decoration: none;
  &:hover{
    &:not(.clean){
      padding: 0 0 0 3px;
    }
  }
}

p {
  font-family: $serif;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1rem;
}

li {
  margin: 15px;
  list-style:disc;
  &:first-of-type {
    margin-top: 8px;
  }
}

h1,h2,h3,h4,h5,h6,a{
  font-family: $sans;
  letter-spacing: .04rem;
  font-weight:600;
};

h1, .h1 {
  font-size: 2.8125rem;
  line-height: 3.9375rem;
  margin-top: 1.3125rem;
  margin-bottom: 2.625rem;
  &.small {
    @extend .h4;
  }
  &.huge {
    font-size: 4.8125rem;
    line-height: 5.9375rem;
    margin-top: 3.3125rem;
    margin-bottom: 4.625rem;
  }
}
h2, .h2 {
  font-size: 2rem;
  line-height: 2.625rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
}
h3, .h3 {
  font-size: 1.4375rem;
  line-height: 2.625rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 1.3125rem;
  margin-bottom: .56rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 1.3125rem;
  margin-bottom: 0rem;
  text-transform: uppercase;
}
h6, .h6 {
  font-size: 1rem;
  font-weight: 400;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.3125rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

@media screen and (max-width:680px), handheld and (orientation: portrait) {
  h3, .h3 {
    font-size: 1.4375rem;
    line-height: 1.8rem;
    margin-top: 1.3125rem;
    margin-bottom: 1rem;
  }
}

figcaption {
  font-family: $sans;
  // border-top: 1px solid $light;
  font-size: .87rem;
  padding: 1rem 0;
  @extend .mb1;
}

hr{width:20%;
  &.line {
    width: 100%;
    border: none; border-top: 1px solid black
  }
  &.white {
    border-color: white;
  }
  border: none; border-top: 1px solid $light
}

.indent {text-indent: 0.5em;}
.uppercase{text-transform: uppercase;}
.nocase{text-transform: none;}
.underline{&a{text-decoration: underline;}
&.white{text-decoration-color: white;}}
