* {
  margin: 0;
  padding: 0; }

.container, .container-left, .container-right {
  padding: 52px 7.5% 52px 7.5%;
  max-width: 50%; }
  .container.full, .full.container-left, .full.container-right {
    max-width: 50%; }
  .container.mostly, .mostly.container-left, .mostly.container-right {
    max-width: 80%;
    padding-top: 0;
    padding-bottom: 0; }

.container-content {
  display: flex;
  max-width: 1080px;
  margin: auto; }

.row {
  display: flex;
  justify-content: space-between; }
  .row.jl {
    justify-content: flex-start;
    padding: .5rem 1.5rem;
    margin: 0 15px; }

.cl {
  margin: 0 15px;
  padding: .5rem .2rem; }
  .cl p {
    margin-bottom: 0; }

.cl-2 {
  margin: 0;
  width: 45%; }

@media screen and (max-width: 680px), handheld and (orientation: portrait) {
  .container, .container-left, .container-right {
    padding: 52px 15% 52px 15%;
    max-width: 100%; }
    .container.mostly, .mostly.container-left, .mostly.container-right {
      max-width: 100%;
      padding-top: 0; }
    .container.full, .full.container-left, .full.container-right {
      max-width: 100%; }
  .container-content {
    display: block; }
  .row {
    display: block; }
  .cl {
    max-width: 90%;
    padding: 0;
    margin: 1rem 0; }
  .cl-2 {
    width: 100%; } }

@media screen and (max-width: 1280px) and (min-width: 681px), handheld and (orientation: portrait) {
  .container, .container-left, .container-right {
    max-width: 75%; }
    .container.full, .full.container-left, .full.container-right {
      max-width: 75%; }
  .row {
    display: block; }
  .cl {
    max-width: 90%;
    padding: 0;
    margin: 2rem 0; } }

.glow {
  color: #5ca5fb; }

.grey {
  color: #ccc; }

.white, .bg-black {
  color: white; }

.black, a {
  color: black; }

.red {
  color: #b32c39; }

.bg-black {
  background-color: black; }
  .bg-black a {
    color: white; }

.bg-white {
  background-color: white; }

.bg-image-example {
  background-image: url("../img/articles_bg.svg");
  background-size: 130%;
  background-position: center;
  background-color: #252938; }

.bg-image {
  background-image: url("../img/lime.svg");
  background-size: 150%;
  background-position: 150px 50%;
  background-repeat: no-repeat; }
  .bg-image.clients {
    background-image: url("../img/logobatchorange.svg");
    background-size: 100%;
    background-position: 50px 50%; }
  .bg-image.wine {
    background-image: url("../img/winebottle.svg");
    background-size: 50%;
    background-position: 150% top; }
  .bg-image.upknown {
    background-image: url("../img/studies/upknown/upknown.svg");
    background-size: 85%;
    background-position: 270px 50%; }

.ma, .container.full, .full.container-left, .full.container-right, .container.mostly, .mostly.container-left, .mostly.container-right {
  margin: auto; }

.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.m1 {
  margin: .5rem; }

.mt1 {
  margin-top: .5rem; }

.mr1 {
  margin-right: .5rem; }

.mb1 {
  margin-bottom: .5rem; }

.ml1 {
  margin-left: .5rem; }

.m2 {
  margin: 1rem; }

.mt2 {
  margin-top: 1rem; }

.mr2 {
  margin-right: 1rem; }

.mb2 {
  margin-bottom: 1rem; }

.ml2 {
  margin-left: 1rem; }

.m3 {
  margin: 2rem; }

.mt3 {
  margin-top: 2.1875rem; }

.mt35 {
  margin-top: 2.3rem; }

.mr3 {
  margin-right: 2rem; }

.mb3, figcaption {
  margin-bottom: 2rem; }

.ml3 {
  margin-left: 2rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.m5 {
  margin: 5rem; }

.mt5 {
  margin-top: 5rem; }

.mr5 {
  margin-right: 5rem; }

.mb5 {
  margin-bottom: 5rem; }

.ml5 {
  margin-left: 5rem; }

.m6 {
  margin: 6rem; }

.mt6 {
  margin-top: 6rem; }

.mxn1 {
  margin-left: -.5rem;
  margin-right: -.5rem; }

.mxn2 {
  margin-left: -1rem;
  margin-right: -1rem; }

.mxn3 {
  margin-left: -2rem;
  margin-right: -2rem; }

.mxn4 {
  margin-left: -4rem;
  margin-right: -4rem; }

.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pr0 {
  padding-right: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.p1 {
  padding: .5rem; }

.pt1 {
  padding-top: .5rem; }

.pr1 {
  padding-right: .5rem; }

.pb1 {
  padding-bottom: .5rem; }

.pl1 {
  padding-left: .5rem; }

.px1 {
  padding-left: .5rem;
  padding-right: .5rem; }

.py1 {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.p2 {
  padding: 1rem; }

.pt2 {
  padding-top: 1rem; }

.pr2 {
  padding-right: 1rem; }

.pb2 {
  padding-bottom: 1rem; }

.pl2 {
  padding-left: 1rem; }

.px2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py2, aside {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p3 {
  padding: 2rem; }

.pt3 {
  padding-top: 2rem; }

.pr3 {
  padding-right: 2rem; }

.pb3 {
  padding-bottom: 2rem; }

.pl3 {
  padding-left: 2rem; }

.px3, aside {
  padding-left: 2rem;
  padding-right: 2rem; }

.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p4 {
  padding: 4rem; }

.p5 {
  padding: 10rem; }

.pt4 {
  padding-top: 4rem; }

.pr4 {
  padding-right: 4rem; }

.pb4 {
  padding-bottom: 4rem; }

.pl4 {
  padding-left: 4rem; }

.px4 {
  padding-left: 4rem;
  padding-right: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.px5 {
  padding-left: 5rem;
  padding-right: 5rem; }

.py5 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.px10 {
  padding-left: 10rem;
  padding-right: 10rem; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.di {
  display: inline; }

.dt {
  display: table; }

.dtc {
  display: table-cell; }

.fl {
  float: left; }

.fr {
  float: right; }

.oh {
  overflow: hidden; }

.tc {
  text-align: center; }

.tj {
  text-align: justify; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.afxt {
  position: fixed;
  top: 0;
  z-index: 2; }

.afxl {
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 2; }

ul {
  list-style: none; }

.box, .container.full, .full.container-left, .full.container-right, .container.mostly, .mostly.container-left, .mostly.container-right, .container-left, .container-right {
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  font-family: "Georgia", serif;
  font-size: 1.0625rem;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: #000000;
  background: linear-gradient(to right, black 49.99%, white 50%);
  overflow-y: scroll; }

a {
  transition: all ease .04s;
  text-decoration: underline;
  border: none;
  font-weight: 600; }

nav.nav-secondary a {
  font-weight: 400;
  text-decoration: underline; }

.list a {
  text-decoration: none; }

.nav-item {
  margin: 0 0 13px 0; }

.bg-black a {
  text-decoration: none; }
  .bg-black a:hover:not(.clean) {
    padding: 0 0 0 3px; }

p {
  font-family: "Georgia", serif;
  line-height: 26px;
  margin: 8px 0 17px 0;
  letter-spacing: normal; }
  figcaption p {
    font-size: 1.4rem;
    line-height: 1.6rem; }
  p.small {
    margin: 8px 0 0 0;
    font-size: 1.0625rem;
    line-height: 1.45rem;
    font-weight: 300; }

li {
  margin: 15px;
  list-style: disc; }
  li:first-of-type {
    margin-top: 8px; }

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .04rem; }

h1 {
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 3rem; }

h2 {
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 3rem; }

h3 {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin: 13px 0 0 0; }

h4 {
  font-size: 11px;
  font-weight: 500;
  line-height: 0.8125rem;
  text-transform: uppercase;
  margin: 4px 0 0 0;
  letter-spacing: .07rem; }
  h4.list {
    margin: 20px 0 0 0; }

h5 {
  font-size: 0.6875rem;
  font-weight: 400;
  margin: 11px 0 0 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #eee; }

h6 {
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin: 8px 0 0 0;
  letter-spacing: normal; }

hr {
  width: 20%;
  border: none;
  border-top: 1px solid #eee; }
  hr.line {
    width: 100%;
    border: none;
    border-top: 1px solid black; }

.indent {
  text-indent: 0.5em; }

.uppercase {
  text-transform: uppercase; }

.nocase {
  text-transform: none; }

.img-hero img {
  min-width: 100%; }

@media screen and (min-width: 1080px) {
  .container-right {
    overflow: visible; } }

iframe {
  max-width: 100%; }

@media screen and (max-width: 680px) {
  iframe {
    display: none; } }

img.full {
  max-width: 100%; }

aside {
  border: 1px solid black; }

.fadein {
  animation: fadein .5s; }

.slideup {
  animation: slideup 0.5s cubic-bezier(0, 0.71, 0, 0.99); }
  .slideup.clients {
    animation: slideup2 0.5s cubic-bezier(0, 0.71, 0, 0.99); }
  .slideup.wine {
    animation: slideup3 0.5s cubic-bezier(0, 0.71, 0, 0.99); }
  .slideup.upknown {
    animation: slideup4 0.5s cubic-bezier(0, 0.71, 0, 0.99); }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideup {
  from {
    background-position: 150px 300%; }
  to {
    background-position: 150px 50%; } }

@keyframes slideup2 {
  from {
    background-position: 150px 300%; }
  to {
    background-position: 50px 50%; } }

@keyframes slideup3 {
  from {
    background-position: 200% top; }
  to {
    background-position: 150% top; } }

@keyframes slideup4 {
  from {
    background-position: 270px bottom; }
  to {
    background-position: 270px 50%; } }
