* {
  margin: 0;
  padding: 0; }

.container, .container-left, .container-right {
  padding: 1.5rem 7.5% 3rem 7.5%;
  max-width: 60%;
  margin: auto; }
  .container.full, .full.container-left, .full.container-right {
    max-width: 50%; }
  .container.mostly, .mostly.container-left, .mostly.container-right {
    max-width: 80%;
    padding-top: 0;
    padding-bottom: 0; }

.aframe {
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1; }

.container-content {
  display: flex;
  max-width: 1080px;
  margin: auto; }
  .container-content.flex-around {
    justify-content: space-around;
    align-items: stretch; }

.container-right:last-child > h6:last-of-type {
  padding: 20px; }

section {
  margin: 4rem 0; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .row.jl {
    justify-content: flex-start;
    padding: .5rem 1.5rem;
    margin: 0 15px; }
  .row.jr {
    justify-content: flex-end;
    padding: .5rem 1.5rem;
    margin: 0 15px; }

.affix {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; }
  .affix.bar {
    border-bottom: 1px solid white; }

.cl {
  margin: 0 15px;
  padding: .5rem .2rem; }
  .cl p {
    margin-bottom: 0; }

.cl-2 {
  margin: 0;
  width: 45%; }

@media screen and (max-width: 680px), handheld and (orientation: portrait) {
  .container, .container-left, .container-right {
    padding: 52px 15% 52px 15%;
    max-width: 100%; }
    .container.mostly, .mostly.container-left, .mostly.container-right {
      max-width: 100%;
      padding-top: 0; }
    .container.full, .full.container-left, .full.container-right {
      max-width: 100%; }
  .container-content {
    display: block; }
  .row {
    display: block; }
  .cl {
    max-width: 90%;
    padding: 0;
    margin: 1rem 0; }
  .cl-2 {
    width: 100%; }
  nav {
    padding: 0 15% 7.5%; }
    nav a {
      margin: 0 2rem .5rem 0;
      display: block; } }

@media screen and (max-width: 1280px) and (min-width: 681px), handheld and (orientation: portrait) {
  .container, .container-left, .container-right {
    max-width: 75%; }
    .container.full, .full.container-left, .full.container-right {
      max-width: 75%; }
  .row {
    display: block; }
  .cl {
    max-width: 90%;
    padding: 0;
    margin: 2rem 0; }
  .cl-2 {
    margin: 0;
    width: 100%; }
  nav {
    padding: 0 15% 7.5%; }
    nav a {
      margin: 0 2rem .5rem 0;
      display: block; } }

.glow {
  color: #5ca5fb; }

.grey {
  color: #ccc; }

.white, .bg-black, main.bc-body.contained.bg-black {
  color: white; }
  .white a, .bg-black a, main.bc-body.contained.bg-black a {
    color: white; }

.black, a {
  color: black; }

.red {
  color: #b32c39; }

.bg-black, main.bc-body.contained.bg-black {
  background-color: black; }

.bg-dark, main.bc-body.contained.bg-dark {
  background-color: #222; }

.bg-light {
  background-color: #eee; }

.bg-light-light {
  background-color: #f5f5f5; }

.bg-white, main.bc-body.contained {
  background-color: white; }

.bg-color {
  background-color: #5ca5fb; }

.hl-white {
  background-color: white; }

.border-top-blue {
  border-top: 5px solid #5ca5fb; }

.bg-image-example {
  background-image: url("../img/articles_bg.svg");
  background-size: 130%;
  background-position: center;
  background-color: #252938; }

.bg-image {
  background-image: url("../img/lime.svg");
  background-size: 150%;
  background-position: 150px 50%;
  background-repeat: no-repeat; }
  .bg-image.clients {
    background-image: url("../img/logobatchorange.svg");
    background-size: 100%;
    background-position: 50px 50%; }
  .bg-image.wine {
    background-image: url("../img/winebottle.svg");
    background-size: 50%;
    background-position: 150% top; }
    .bg-image.wine.small {
      background-size: 20%;
      background-position: 80% top; }
  .bg-image.wine-render {
    background-image: url("../img/wine-render.png");
    background-size: 140%;
    background-position: 50%; }
    .bg-image.wine-render.small {
      background-size: 20%;
      background-position: 80% top; }
  .bg-image.upknown {
    background-image: url("../img/studies/upknown/upknown.svg");
    background-size: 85%;
    background-position: 270px 50%; }
  .bg-image.acf {
    background-image: url("../img/medialab/acf/acf-banner.png");
    background-size: 105%;
    background-position: center; }
  .bg-image.mocktail {
    background-image: url("../img/studies/mocktail/bloom-1.jpg");
    background-size: cover;
    background-position: center; }

.ma, .container.full, .full.container-left, .full.container-right, .container.mostly, .mostly.container-left, .mostly.container-right {
  margin: auto; }

.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.m1 {
  margin: .5rem; }

.mt1 {
  margin-top: .5rem; }

.mr1 {
  margin-right: .5rem; }

.mb1, figcaption {
  margin-bottom: .5rem; }

.ml1 {
  margin-left: .5rem; }

.m2 {
  margin: 1rem; }

.mt2 {
  margin-top: 1rem; }

.mr2 {
  margin-right: 1rem; }

.mb2 {
  margin-bottom: 1rem; }

.ml2 {
  margin-left: 1rem; }

.m3 {
  margin: 2rem; }

.mt3 {
  margin-top: 2.1875rem; }

.mt35, .list h5 {
  margin-top: 2.3rem; }

.mr3 {
  margin-right: 2rem; }

.mb3 {
  margin-bottom: 2rem; }

.ml3 {
  margin-left: 2rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.m5 {
  margin: 5rem; }

.mt5 {
  margin-top: 5rem; }

.mr5 {
  margin-right: 5rem; }

.mb5 {
  margin-bottom: 5rem; }

.ml5 {
  margin-left: 5rem; }

.m6 {
  margin: 6rem; }

.mt6 {
  margin-top: 6rem; }

.mxn1 {
  margin-left: -.5rem;
  margin-right: -.5rem; }

.mxn2 {
  margin-left: -1rem;
  margin-right: -1rem; }

.mxn3 {
  margin-left: -2rem;
  margin-right: -2rem; }

.mxn4 {
  margin-left: -4rem;
  margin-right: -4rem; }

.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pr0 {
  padding-right: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.p1 {
  padding: .5rem; }

.pt1 {
  padding-top: .5rem; }

.pr1 {
  padding-right: .5rem; }

.pb1 {
  padding-bottom: .5rem; }

.pl1 {
  padding-left: .5rem; }

.px1 {
  padding-left: .5rem;
  padding-right: .5rem; }

.py1 {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.p2 {
  padding: 1rem; }

.pt2 {
  padding-top: 1rem; }

.pr2 {
  padding-right: 1rem; }

.pb2 {
  padding-bottom: 1rem; }

.pl2 {
  padding-left: 1rem; }

.px2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p3 {
  padding: 2rem; }

.pt3 {
  padding-top: 2rem; }

.pr3 {
  padding-right: 2rem; }

.pb3 {
  padding-bottom: 2rem; }

.pl3 {
  padding-left: 2rem; }

.px3 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p4 {
  padding: 4rem; }

.p5 {
  padding: 10rem; }

.pt4 {
  padding-top: 4rem; }

.pr4 {
  padding-right: 4rem; }

.pb4 {
  padding-bottom: 4rem; }

.pl4 {
  padding-left: 4rem; }

.px4 {
  padding-left: 4rem;
  padding-right: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.px5 {
  padding-left: 5rem;
  padding-right: 5rem; }

.py5 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.px10 {
  padding-left: 10rem;
  padding-right: 10rem; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.di {
  display: inline; }

.dt {
  display: table; }

.dtc {
  display: table-cell; }

.fl {
  float: left; }

.fr {
  float: right; }

.oh {
  overflow: hidden; }

.tc {
  text-align: center; }

.tj {
  text-align: justify; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.afxt {
  position: fixed;
  top: 0;
  z-index: 2; }

.afxl {
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 2; }

ul {
  list-style: none; }

.box, .container.full, .full.container-left, .full.container-right, .container.mostly, .mostly.container-left, .mostly.container-right, .container-left, .container-right, .affix.bar {
  box-sizing: border-box; }

:root {
  font-size: 16px;
  line-height: 24px; }

.league {
  font-family: 'LeagueGothic';
  letter-spacing: 1.2rem; }

body {
  font-family: "Georgia", serif;
  font-size: 1.0625rem;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: #222; }

a {
  transition: all ease .04s;
  text-decoration: underline;
  border: none;
  font-weight: 600; }

nav.nav-secondary a {
  font-weight: 400;
  text-decoration: underline; }

.list a {
  text-decoration: none; }

.nav-item {
  margin: 0 0 13px 0; }

.white a, .bg-black a, main.bc-body.contained.bg-black a {
  text-decoration: none; }
  .white a:hover:not(.clean), .bg-black a:hover:not(.clean) {
    padding: 0 0 0 3px; }

p {
  font-family: "Georgia", serif;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1rem; }

li {
  margin: 15px;
  list-style: disc; }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Avenir Next", "Avenir", "Helvetica", "Arial", sans-serif;
  letter-spacing: .04rem;
  font-weight: 600; }

h1, .h1 {
  font-size: 2.8125rem;
  line-height: 3.9375rem;
  margin-top: 1.3125rem;
  margin-bottom: 2.625rem; }
  h1.huge, .h1.huge {
    font-size: 4.8125rem;
    line-height: 5.9375rem;
    margin-top: 3.3125rem;
    margin-bottom: 4.625rem; }

h2, .h2 {
  font-size: 2rem;
  line-height: 2.625rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem; }

h3, .h3 {
  font-size: 1.4375rem;
  line-height: 2.625rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem; }

h4, .h4, h1.small, .h1.small {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 1.3125rem;
  margin-bottom: .56rem; }

h5, .h5 {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 1.3125rem;
  margin-bottom: 0rem;
  text-transform: uppercase; }

h6, .h6 {
  font-size: 1rem;
  font-weight: 400; }

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.3125rem; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem; }

@media screen and (max-width: 680px), handheld and (orientation: portrait) {
  h3, .h3 {
    font-size: 1.4375rem;
    line-height: 1.8rem;
    margin-top: 1.3125rem;
    margin-bottom: 1rem; } }

figcaption {
  font-family: "Avenir Next", "Avenir", "Helvetica", "Arial", sans-serif;
  font-size: .87rem;
  padding: 1rem 0; }

hr {
  width: 20%;
  border: none;
  border-top: 1px solid #eee; }
  hr.line {
    width: 100%;
    border: none;
    border-top: 1px solid black; }
  hr.white, hr.bg-black {
    border-color: white; }

.indent {
  text-indent: 0.5em; }

.uppercase {
  text-transform: uppercase; }

.nocase {
  text-transform: none; }

.underlinea {
  text-decoration: underline; }

.underline.white, .underline.bg-black, main.underline.bc-body.contained.bg-black {
  text-decoration-color: white; }

.img-hero img {
  min-width: 100%;
  min-height: 100%; }

@media screen and (min-width: 1080px) {
  .container-right {
    overflow: visible; } }

iframe {
  max-width: 100%; }

@media screen and (max-width: 680px) {
  iframe {
    display: none; } }

img.full {
  max-width: 100%; }

img.half {
  max-width: 50%;
  max-height: 50%;
  margin: 6rem 0; }

img.figure {
  padding: 10% 0; }
  img.figure.small {
    max-height: 10rem; }

img.icon {
  max-width: 5rem;
  padding: 1.4rem; }

figure {
  margin: 3rem 0 1rem 0; }
  figure.plax {
    max-height: 500px;
    overflow: hidden; }

aside {
  border: 1px solid black;
  padding: 1.4rem 1.5rem 0rem 1.5rem; }

.title {
  max-width: 15rem; }

.jam-load {
  animation-play-state: paused !important; }

.fadein {
  animation: fadein .5s; }
  .fadein.slow {
    animation: fadein ease-in 1.5s; }

.slideup {
  animation: slideup 0.5s cubic-bezier(0, 0.71, 0, 0.99); }
  .slideup.clients {
    animation: slideup2 0.5s cubic-bezier(0, 0.71, 0, 0.99); }
  .slideup.wine {
    animation: slideup3 0.5s cubic-bezier(0, 0.71, 0, 0.99); }
    .slideup.wine.small {
      animation: slideup5 0.8s cubic-bezier(0, 0.71, 0, 0.99); }
  .slideup.upknown {
    animation: slideup4 0.5s cubic-bezier(0, 0.71, 0, 0.99); }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideup {
  from {
    background-position: 150px 300%; }
  to {
    background-position: 150px 50%; } }

@keyframes slideup2 {
  from {
    background-position: 150px 300%; }
  to {
    background-position: 50px 50%; } }

@keyframes slideup3 {
  from {
    background-position: 200% top; }
  to {
    background-position: 150% top; } }

@keyframes slideup4 {
  from {
    background-position: 270px bottom; }
  to {
    background-position: 270px 50%; } }

@keyframes slideup5 {
  from {
    background-position: 200% top; }
  to {
    background-position: 80% top; } }

main.bc-body.contained {
  color: #222;
  padding: 2rem 12.5% 4rem 12.5%;
  border-left: 20px solid #222;
  border-right: 20px solid #222; }
  @media screen and (max-width: 1000px) and (min-width: 721px), handheld and (orientation: portrait) {
    main.bc-body.contained {
      padding: 2rem 1.5% 0 1.5%; } }
  main.bc-body.contained.bg-black {
    color: white;
    border-top: 20px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white; }
  main.bc-body.contained.bg-dark {
    color: white;
    border-top: 20px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white; }
  main.bc-body.contained.border-ocean {
    border-top: 20px solid #2C3E50;
    border-left: 20px solid #2C3E50;
    border-right: 20px solid #2C3E50;
    border-bottom: 20px solid #2C3E50; }
  img main.bc-body.contained:first-of-type {
    max-width: 300px; }
    @media screen and (max-width: 720px), handheld and (orientation: portrait) {
      img main.bc-body.contained:first-of-type {
        max-width: 100%; } }

main.bc-body section {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start; }
  main.bc-body section div {
    position: relative;
    max-width: 42%;
    padding: 2rem 3% 0; }
    main.bc-body section div:first-of-type {
      width: 43%; }
    main.bc-body section div:nth-child(2):not(.level) {
      margin-top: 6rem; }
    main.bc-body section div.solo {
      max-width: 90%; }
    main.bc-body section div.full {
      width: 90%; }
    main.bc-body section div.list h1, main.bc-body section div.list h2, main.bc-body section div.list h3, main.bc-body section div.list h4, main.bc-body section div.list h5 {
      margin: .5rem 0; }
    main.bc-body section div.list a:hover::after {
      color: rgba(38, 31, 33, 0.43); }
  @media screen and (max-width: 720px), handheld and (orientation: portrait) {
    main.bc-body section {
      flex-wrap: wrap; }
      main.bc-body section div {
        max-width: 90%;
        padding: 2rem 3% 0; }
        main.bc-body section div:first-of-type {
          width: 90%; }
        main.bc-body section div:nth-child(2) {
          margin-top: -2rem; } }

main.bc-body .gallery img {
  max-width: 100%; }

main.bc-body ul.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 5px solid #5ca5fb; }
  @media screen and (max-width: 720px), handheld and (orientation: portrait) {
    main.bc-body ul.timeline {
      flex-wrap: wrap;
      flex-direction: column; } }
  main.bc-body ul.timeline li {
    transform: translateX(-1rem);
    list-style: none;
    max-width: 20%;
    position: relative; }
    main.bc-body ul.timeline li p {
      font-size: .9rem; }
    main.bc-body ul.timeline li:first-of-type {
      margin: 15px;
      margin-left: 4rem; }
    main.bc-body ul.timeline li h5 {
      position: absolute;
      top: -5rem;
      left: -1rem; }
    main.bc-body ul.timeline li.product {
      background-color: #222;
      color: white;
      padding: 1rem 1rem 0 1rem; }
    main.bc-body ul.timeline li h4 {
      margin: 0; }
    @media screen and (max-width: 720px), handheld and (orientation: portrait) {
      main.bc-body ul.timeline li {
        max-width: 100%;
        transform: none; }
        main.bc-body ul.timeline li:first-of-type {
          margin: 15px; }
        main.bc-body ul.timeline li h5 {
          position: relative;
          top: auto;
          left: auto;
          margin: 1rem 0; } }
  main.bc-body ul.timeline li::before {
    content: '';
    height: .9rem;
    border-left: 4px solid #5ca5fb;
    position: absolute;
    left: 1.2rem;
    top: -0.95rem; }
    @media screen and (max-width: 720px), handheld and (orientation: portrait) {
      main.bc-body ul.timeline li::before {
        border-left: none; } }

.timeline-wine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-top: 5px solid white; }
  .timeline-wine li {
    transform: translateX(-1rem);
    list-style: none;
    width: 13%;
    position: relative; }
  .timeline-wine li::before {
    content: '';
    height: .9rem;
    border-left: 4px solid white;
    position: absolute;
    left: 1.2rem;
    top: -0.95rem; }
    @media screen and (max-width: 720px), handheld and (orientation: portrait) {
      .timeline-wine li::before {
        border-left: none; } }
  @media screen and (max-width: 720px), handheld and (orientation: portrait) {
    .timeline-wine {
      flex-wrap: wrap;
      flex-direction: column;
      border: none;
      list-style: disc; }
      .timeline-wine li {
        width: 40%; } }

footer.bc, header.bc {
  border-left: 20px solid #222;
  border-right: 20px solid #222;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-around;
  align-items: center; }
  footer.bc a, header.bc a {
    transition: all .4s ease;
    margin: 0 2.1rem; }
  @media screen and (max-width: 720px), handheld and (orientation: portrait) {
    footer.bc, header.bc {
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column; }
      footer.bc a, header.bc a {
        margin: 1rem; }
        footer.bc a:first-of-type, header.bc a:first-of-type {
          margin: 1rem; } }
  footer.bc a:hover, header.bc a:hover {
    padding: 0 !important; }

.number:after {
  content: '1';
  font-size: 4rem;
  top: 0;
  opacity: 33%;
  color: rgba(38, 31, 33, 0.15);
  font-style: italic;
  transition: all .23s ease;
  display: block;
  transform: translateX(-5.5rem) translateY(-10.5rem);
  cursor: pointer; }
  @media screen and (max-width: 720px), handheld and (orientation: portrait) {
    .number:after {
      transform: translateX(-1.5rem) translateY(-13rem); } }

section.white div.list a.number:after, section.bg-black div.list a.number:after {
  color: rgba(255, 255, 255, 0.18); }
  section.white div.list a.number:after:hover, section.bg-black div.list a.number:after:hover {
    color: #fff; }

section.white div.list a.number:hover::after, section.bg-black div.list a.number:hover::after {
  color: white; }

ul.thin li {
  margin: 8px; }

.two:after {
  content: '2'; }

.three:after {
  content: '3'; }

.desktop-tr {
  text-align: right; }
  @media screen and (max-width: 720px), handheld and (orientation: portrait) {
    .desktop-tr {
      text-align: left; } }

@media screen and (max-width: 720px), handheld and (orientation: portrait) {
  .hide {
    display: none; } }

.df {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.profile {
  max-width: 90%;
  max-height: 600px; }

.mockup {
  max-width: 30%;
  margin: auto; }
