<div class="container full white bg-black ">
  {{> header-small}}
  {{> nav-ml}}
  <hr class="line white">
  {{> acf}}

<hr class="white line">
<div class="white container-content flex-around">
  <a href="/medialab/upknown" class="clean di"><h4><< Previous</h4></a>
  <a href="/medialab/wine" class="clean di"><h4>Next >></h4></a>
</div>
