<div class="container full white bg-black ">
  {{> header-small}}
  {{> nav-ml}}
    <hr class="line white">
</div>
<div class="container full white fadein">
  <h2>Mocktail: design for music.</h2>
  <p>From late 2014 until the fall of 2016 I ran a design agency in the music industry. I co-founded Mocktail with Hunter Streit in Boulder, CO before growing the team and moving to Berlin, Germany, where I productized our offerings and engaged with bigger corporate clients like Ascendeur, METRO Group and management companies.</p>
  <p>Below is a selection of illustrations I produced during my time at Mocktail.</p>
</div>
<div class="container mostly white tc">
  <figure>
    <img class="full" src="../img/medialab/mocktail/bloom.jpg" alt=""/>
  </figure>
  <figure>
    <img class="full" src="../img/medialab/mocktail/bjokib.png" alt=""/>
  </figure>
  <figure>
    <img class="full" src="../img/medialab/mocktail/refracted.jpg" alt=""/>
    <figcaption>Mocktail produced an identity and guided art direction for Refracted Records for almost two years as they built their roster.</figcaption>
  </figure>
  <figure>
    <img class="full" src="../img/medialab/mocktail/revival.jpg" alt=""/>
  </figure>
  <div class="row">
    <div class="cl">
      <figure>
        <img class="full half" src="../img/medialab/mocktail/refracted-logo.png" alt=""/>
      </figure>
    </div>
    <div class="cl">
      <figure>
        <img class="full" src="../img/medialab/mocktail/rawr.png" alt=""/>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="cl">
      <figure>
        <img class="full" src="../img/medialab/mocktail/maven.png" alt=""/>
      </figure>
    </div>
    <div class="cl">
      <figure>
        <img class="full" src="../img/medialab/mocktail/bloom.png" alt=""/>
      </figure>
    </div>
  </div>
  <div class="row mb4">
    <div class="cl">
      <figure>
        <img class="full half" src="../img/medialab/mocktail/asphyxiate.png" alt=""/>
      </figure>
    </div>
  </div>
  <p>You can learn more about Mocktail <a href="http://mocktail.ink">here</a>.</p>
</div>

<hr class="white line">
<div class="white container-content flex-around">
  <a href="/medialab/wine" class="clean di"><h4><< Previous</h4></a>
</div>
