<div class="container-content m0">
  <div class="container full white bg-black ">
    {{> header-small}}
    {{> nav-ml}}
    <hr class="line white">
  </div>
</div>
<div class="container mostly white">
  <h2>Curriculum Vitae</h2>
</div>
<div class="container full white">
  <div class="row">
    <div class="cl">
      <h5>Order:</h5>
    </div>
    <div class="cl">
      <h4>Relevance ^</h4>
    </div>
    <div class="cl">
      <h4>Year</h4>
    </div>
  </div>
  <div class="cl">
    <h3>Freelance</h3>
    <h4>UX and Brand Design</h4>
    <p>Clients include the largest commercial real estate team in Denver, a funeral startup in the UK, a school in California, and companies in talent and recruiting.</p>
  </div>
  <div class="cl">
    <h3>Rally Software / CA Technologies - Boulder, CO</h3>
    <h4>Interaction Design & Intern</h4>
    <p>Worked on metrics for Waffle.io as part of the company that popularized Agile methodology.</p>
  </div>
  <div class="cl">
    <h3>Techstars - Boulder, CO</h3>
    <h4>Design Associate</h4>
    <p>Techstars Boulder 2014.</p>
  </div>
  <div class="cl">
    <h3>DesignMeetsBeats - Boulder, CO</h3>
    <h4>Creator</h4>
    <p>Web application for illustration project management. Poor business model.</p>
  </div>
  <div class="cl">
    <h3>Mocktail - Berlin, Germany</h3>
    <h4>Co-Founder</h4>
    <p>Design agency in the music industry.</p>
  </div>
  <div class="cl">
    <h3>Upknown - Boulder, CO</h3>
    <h4>Interaction Designer (Contract)</h4>
    <p>Upknown.</p>
  </div>
  <div class="cl">
    <h3>LearnGIMP.org - Helena, MT</h3>
    <h4>Creator</h4>
    <p>Design agency in the music industry.</p>
  </div>
  <div class="cl">
    <h3>Kachemak Bay Family Planning - Homer, AK</h3>
    <h4>Health Educator</h4>
    <p>Design agency in the music industry.</p>
  </div>
</div>

<hr class="white line">
<div class="white container-content flex-around">
  <a href="#" class="clean di"><h4><< Previous</h4></a>
  <a href="#" class="clean di"><h4>Next >></h4></a>
</div>
