<div class="container-content">
  <div class="container max white bg-black ">
    {{> header-small}}
    {{> nav-ml}}
    <hr class="line white">
    {{> upknown}}

<hr class="white line">
<div class="white container-content flex-around">
  <a href="#" class="clean di"><h4><< Previous</h4></a>
  <a href="#" class="clean di"><h4>Next >></h4></a>
</div>
