<h1 class="tc">{{heads.process}}</h1>
<div class="row">
  <div class="col-md-8 tc col-md-offset-2">
    <p>
      {{{subheads.process}}}
    </p>
  </div>
</div>

{{> steps/step-1}}
{{> steps/step-2}}
{{> steps/step-3}}
{{> steps/step-4}}
<div class="row">
  <div class="col-md-6 col-md-offset-3 tc mt4">
    <h2>{{steps.last.[0]}}</h2>
    <p>
      {{steps.last.[1]}}
    </p>
  </div>
</div>
