<div class="row oh mt5">
  <div class="col-md-2 col-lg-push-5 tc mt4 mb4">
    <img src="{{steps.first.[2]}}" alt="" class="icon md" />
  </div>

  <div class="col-md-4 col-lg-pull-1">
    <h3>{{steps.first.[0]}}</h3>
    <p>
      {{steps.first.[1]}}
    </p>
  </div>
</div>
