<div class="row oh mt3">
  <div class="col-md-2 col-md-offset-4 col-lg-push-1 tc mt4 mb4">
    <img src="{{steps.second.[2]}}" alt="" class="icon md" />
  </div>
  <div class="col-md-4 col-md-offset-2">
    <h3 class="mb3">{{steps.second.[0]}}</h3>
    <p>{{steps.second.[1]}}</p>
  </div>
</div>
