<main class="bc-body white contained bg-dark">
  <a href="/product">< back</a>
  <section class="white full fadein">
    <div class="solo full">
      <h1>A-Frame over Three.js on Node</h1>
    </div>
  </section>
  <section class="">
    <div class="">
      <h2>Spatial vs. Symbolic vs. Gestural</h2>
      <p>The environment and all properties within it are variable. Why not build all interfaces spatially? When the environment is dynamic, how do we maintain consistency in environmental interfaces? What line divides the functions we 'spatialize' and the functions we symbolize/abstract to 2D interfaces?</p>
      <p>Moving in weirder directions, what design patterns exist for embodied interactions? Is putting on a glove an embodied interaction with a glove? How does my perception of my external self affect how I understand environmental interfaces? Interact with?</p>
    </div>
    <div class="">
      <h2>Simulation vs.
        Smoke + Mirrors</h2>
        <p>When designing interactions with real-world counterparts, how do we decide which systems to simulate and which systems to fake? Actionable properties that have no consequences in the core experience frame, such as persistent light switch settings between scenes or collision simulations amongst discarded objects, can be crucial in establishing environment credibility.</p>
        <p>Furthermore, once we've decided what to simulate and what to fake, how do we determine the level of fideltiy those simulations will have? How soon are we writing components to describe the behavior of electrons?</p>
    </div>
  </section>
  <section class="">
    <div class="">
      <h2>Components</h2>
      <ul>
        <li>Extra-environmental Controls and Displays</li>
        <li>Environment Stepthroughs</li>
        <li>Animation Batches</li>
        <li>Animation Links (that make up a chain)</li>
        <li>Dynamic Abstract Labelling</li>
        <li>Environment-to-Abstract Inspectors</li>
        <li>Electric Switches</li>
        <li>Electric Breakers</li>
        <li>Electric Wires</li>
        <li>Lights and Hardware</li>
        <li>Electric Current</li>
      </ul>
    </div>
    <div class="level">
      <h2>Requirements</h2>
      <ul>
        <li>Reasonable persistence between scenes</li>
        <li>Master env authority over user env authority</li>
        <li>Hard modification of simulated results</li>
        <li>Dynamically load and unload content</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="">
      
    </div>
    <div class="level">

    </div>
  </section>
  <a href="/product">< back</a>
</main>
