<div class="container-content">
  <div class="container-left white bg-black ">
    {{> header}}
    {{> nav}}
  </div>
  <!-- SECRETS  -->
  <div class="container-right bg-white fadein">
    <hr class="line">
    <h4>Personal processes</h4>
    <h2>Methods 🛠</h2>
    <p>Every project requires a different process. No project will have every one of the activities listed, but many will have activities not listed. It's flexible.</p>
    <h3>General product activities</h3>
    <ul>
      <li>Domain and market understanding (canvases, value maps, service blueprints)</li>
      <li>Customer development interviews</li>
      <li>Stakeholder interviews</li>
      <li>Feature roadmapping</li>
      <li>Early prototyping/artifact creation</li>
      <li>User testing</li>
    </ul>
    <h3>UX activities</h3>
    <ul>
      <li>Interview guides</li>
      <li>User interviews</li>
      <li>User roles / "Who+Dos"</li>
      <li>JTBD analysis</li>
      <li>Persona construction</li>
      <li>Empathy & anxiety mapping</li>
      <li>User journey mapping</li>
      <li>Wireframing</li>
    </ul>
    <h3>Interaction activities</h3>
    <ul>
      <li>Accessibility consideration</li>
      <li>Prototyping</li>
      <li>Usability testing</li>
      <li>Co-development</li>
    </ul>
    <!-- <hr class="line">
    <h3>Brand</h3>
    <h5>Brand mark/logomark activities</h5>
    <ul>
      <li>Project spec meetings</li>
      <li>Stakeholder meetings</li>
      <li>Research (company, market, product, customer, marketing personas)</li>
      <li>Reference material assembly</li>
      <li>Reference style tile assembly</li>
      <li>Stakeholder check-ins</li>
      <li>Sketching and revisions</li>
      <li>Digital drafting</li>
      <li>Color sketching</li>
      <li>Typography (picks, pairings, character redraws)</li>
      <li>Contextual mockups</li>
      <li>Mentor feedback sessions</li>
      <li>Stakeholder feedback sessions</li>
      <li>Customer feedback sessions</li>
      <li>Style tile assembly</li>
      <li>“Pre-final” drafting</li>
      <li>Deliverables assembly</li>
    </ul> -->
    <a href="mailto:trevor.waldorf@gmail.com">Email me ✉️</a>
  </div>
</div>
