<div class="container-content">
  <div class="container-left white bg-black ">
    {{> header}}
    {{> nav}}
  </div>
  <!-- SECRETS  -->
  <div class="container-right bg-white fadein">
    <hr class="line">
    <h4>Bite-sized UX & UI</h4>
    <h2>Enter Onboarding 🏄🏽</h2>
    <h3>Enter App</h3>
    <p>Enter is an iPad app that acts as a digital doorbell for office guests, pinging the appropriate contact through relevant communication channels when a guest or package arrives. The app was built internally for Fresh Tilled Soil and then spun into a stand-alone product.</p>
    <img src="../img/studies/enter/enter1.png" alt="Enter App preview" class="tc">
    <h3>The Engagement</h3>
    <p>During my time at Fresh, Dan, the lead for Enter, approached me about working with the team to re-design the onboarding flow. I spent two days on the project over the course of two weeks, communicating and reviewing work with the team until I moved the final UI prototype from Sketch to Invision for testing and implementation.</p>
    <p> This project showcases a standard application of accepted design patterns with a few small tweaks for novel functionality.</p>
  </div>
</div>
<div class="bg-white">
  <div class="container full">
    <h3>The Problem</h3>
    <p>Good onboarding experiences expertly guide people through the anxiety and confusion of a new product until they reach value. The time-to-value needs to be as short as possible and control for distractions and key anxieties that would otherwise turn a user away.</p>
    <p>In Enter's case, there is a large amount of data that needs to be entered to get the product up-and-running, initially by the office manager, and then on an asynchronous basis by everyone else in the office.</p>
    <p>Additionally, because the app runs on an iPad, the onboarding is potentially split between multiple devices, which adds another level of confusion and two potential tripping points to the flow.</p>
    <img src="../img/studies/enter/enter2.png" alt="Enter Onboarding Sketch File" class="tc full">
    <h3>The Solution</h3>
    <p>By using the office manager's information collected during the free trial setup as the first user profile, the product can become functional very early on in the new onboarding flow. The user could potentially reach value within 2-3 minutes of clicking the free-trial signup button. The rest of the information can then be added later during other sessions to maximize value to the user and help them welcome guests.</p>
    <h3>Wireframes</h3>
    <p>View the <a href="../img/studies/enter/wfflow.pdf">initial wireframes .pdf (153kb).</a></p>
    <h3>Prototype UI</h3>
    <p>View the <a href="../img/studies/enter/uiflow.pdf">UI .pdf (2.2mb)</a> before linking in InVision.</p>
    <h3>On Microcopy</h3>
    <p>Walking through all the microcopy with someone who has no concept of the product or use cases helped refine and flag problems that the team didn't see. Likely these problems like the ambiguous "group add" vs. the clearer and directive "paste a bunch" would have been picked up in extensive user testing, but that's not always in the budget.</p><p> Five minutes could save you 15% or more on customer onboarding retention rates.</p>
    <a href="mailto:trevor.waldorf@gmail.com">Email me ✉️</a>
  </div>
</div>
<div class="bg-black">
  <div class="container full">
    {{>header}}
    {{>nav}}
  </div>
</div>
