<div class="bg-white p0 mt0">
  <div class="container mostly black fadein">
    <h2 class="mt5">Keota</h2>
    <h3>Logotype</h3>
    <p>Type Iteration 6, 13 October September 2017</p>
  </div>
  <div class="container mostly fadein">
    <hr class="line white mt5">
    <h1 class="huge">halo</h1>
  <img src="../img/keota/p4/halo.svg" class="figure mt5 src-swap">
  <img src="../img/keota/p4/halo.svg" class="p0 m0 icon">
  <img src="../img/keota/p4/halo2.svg" class="figure mt5 src-swap">
  <img src="../img/keota/p4/halo2.svg" class="p0 m0 icon">
  <img src="../img/keota/p4/halos.svg" class="figure mt5 src-swap">
  <img src="../img/keota/p4/halos.svg" class="p0 m0 icon">
  <hr class="line white mt5">

  </div>
  <div class="mostly container tc">
    <hr class="line white mt5">
    <h3>~~~</h3>
  </div>
</div>
