<div class="bg-white p0 mt0">
  <div class="container mostly black fadein">
    <h2 class="mt5">Keota</h2>
    <h3>Logotype</h3>
    <p>Pre-final type, 16 October September 2017</p>
  </div>
  <div class="container mostly fadein">
    <hr class="line white mt5">
  <img src="../img/keota/p4/final_1.svg" class="figure mt5 src-swap">
  <img src="../img/keota/p4/final_1.svg" class="p0 m0 icon">



  <hr class="line white mt5">

  </div>
  <div class="mostly container tc">
    <hr class="line white mt5">
    <h3>~~~</h3>
  </div>
</div>
