<div class="container full white fadein">
  <h2 class="mt5">Keota</h2>
  <h3>Visual Brand & Logotype</h3>
  <p>Sketches 2, 11 September 2017</p>
</div>
<div class="container mostly white fadein">
  <hr class="line white mt5">
  <h3>Sketches & Alternates</h3>
<img src="../img/keota/signature.svg" class="figure mt5 src-swap">
<img src="../img/keota/hyperlight.svg" class="figure mt5 src-swap">
<img src="../img/keota/horror.svg" class="figure mt5 src-swap">
<div class="row container full">
  <div class="cl-2">
    <h4>Alt 1</h4>
    <img src="../img/keota/horror-1.svg" class="figure"  alt="">
  </div>
  <div class="cl-2">
    <h4>Alt 2</h4>
    <img src="../img/keota/horror-2.svg" class="figure"  alt="">
  </div>
</div>
<img src="../img/keota/ancient.svg" class="figure mt5">
<div class="row container full">
  <div class="cl-2">
    <h4>Alt 1</h4>
    <img src="../img/keota/ancient-1.svg" class="figure"  alt="">
  </div>
  <div class="cl-2">
    <h4>Alt 2</h4>
    <img src="../img/keota/ancient-2.svg" class="figure"  alt="">
  </div>
</div>
<img src="../img/keota/technuhuh.svg" class="figure mt5 src-swap">
<div class="row container full">
  <div class="cl-2">
    <h4>Alt 1</h4>
    <img src="../img/keota/tech-1.svg" class="figure src-swap"  alt="">
  </div>
  <div class="cl-2">
    <h4>Alt 2</h4>
    <img src="../img/keota/tech-2.svg" class="figure src-swap"  alt="">
  </div>
</div>
<hr class="line white mt5">
<h3>Path outlines + guides</h3>
<div class="row">
  <div class="cl-2">
    <img src="../img/keota/hyperlight-guides.svg" class="figure"  alt="">
  </div>
  <div class="cl-2">
    <img src="../img/keota/signature-guides.svg" class="figure"  alt="">
  </div>
  <div class="cl-2">
    <img src="../img/keota/ancient-guides.svg" class="figure"  alt="">
  </div>
</div>
<div class="row">
  <div class="cl-2">
    <img src="../img/keota/tech-guides.svg" class="figure"  alt="">
  </div>
  <div class="cl-2">
    <img src="../img/keota/horror-guides.svg" class="figure"  alt="">
  </div>
</div>
