<div class="container mostly white fadein">
  <h2 class="mt5">Keota</h2>
  <h3>Logotype</h3>
  <p>Type Iteration 3, 18 September 2017</p>
</div>
<div class="container mostly white fadein">
  <hr class="line white mt5">
  <h3>Thicc tech</h3>
  <p>There are a few vector rendering smudges to be cleaned up if we move forward in these directions, notably on the 2.5D and 3D stylings.</p>
<img src="../img/keota/p2/nui.svg" class="figure mt5 src-swap">
<img src="../img/keota/p2/nui.svg" class="p0 m0 icon">
<img src="../img/keota/p2/nui2.svg" class="figure mt5 src-swap">
<img src="../img/keota/p2/nui2.svg" class="p0 m0 icon">
<img src="../img/keota/p2/nui3.svg" class="figure mt5 src-swap">
<img src="../img/keota/p2/nui3.svg" class="p0 m0 icon">
<img src="../img/keota/p2/nui4.svg" class="figure mt5 src-swap">
<img src="../img/keota/p2/nui4.svg" class="p0 m0 icon">
<img src="../img/keota/p2/nui5.svg" class="figure mt5 src-swap">
<img src="../img/keota/p2/nui5.svg" class="p0 m0 icon">

<hr class="line white mt5">
<h3>Painted</h3>
<p>The A has been swapped for a super-readable version. If we want to move forward on this direction I can always bust out the paint again and do a redraw, provided that we have a good idea of what we want to change.</p>
<p>There are also a few vector smudges to clean up here as well.</p>

<img src="../img/keota/p2/paint.svg" class="figure mt5 src-swap">
<img src="../img/keota/p2/paint.svg" class="p0 m0 icon">
<img src="../img/keota/p2/paint2.svg" class="figure mt5 src-swap">
<img src="../img/keota/p2/paint2.svg" class="p0 m0 icon">
<img src="../img/keota/p2/paint3.svg" class="figure mt5 src-swap">
<img src="../img/keota/p2/paint3.svg" class="p0 m0 icon">
</div>
<div class="mostly container white tc">
  <hr class="line white mt5">
  <h3>~~~</h3>
</div>
