<div class="container-content">
  <div class="container-left white bg-black bg-image slideup mocktail">
    {{> header}}
    {{> nav}}
  </div>
  <!-- INDEX  -->
  <div class="container-right bg-white fadein">
    <hr class="line">
    <h4>Designing a Business</h4>
    <h2>Mocktail</h2>
    {{> mocktail-nav}}
    <h3 class="mt3" id="overview">Summary</h3>
    <p>I co-founded, operated, and closed a design agency in the music industry from the end of 2014 to the end of 2016. Mocktail completed about 50 client engagements and was comprised of five talented artists and designers during its lifetime.</p>
    <p>Starting Mocktail allowed me to live abroad, tackle problems creatively, and learn the basics of practical entrepreneurship. I explored leadership, negotiation, risk tolerance, the practice of graphic design, my own art and taste, accounting, capitalism, and community-building.</p>
    <p>But most importantly, I made many friends.</p>
    <p>Read on below. ⤵</p>
  </div>
</div>
<div class="bg-white">
  <div class="container full">
    <h3>The End of Art and the Rise of Producerism</h3>
    <p>The forward to Mocktail’s story is <a href="https://www.theatlantic.com/magazine/archive/2015/01/the-death-of-the-artist-and-the-birth-of-the-creative-entrepreneur/383497/">William Deresiewicz’s lucid 2015 dissection of creative industry in The Atlantic.</a> Although we were running Mocktail before the time of publication, Deresiewicz perfectly captures the context and sets the scene for our story.</p>
    <p>TL;DR: Art is dead. Craft is king. Producerism is the new consumerism. Enter, Mocktail.</p>
  <!-- </div>
    <figure class="plax">
      <img class="full" src="../img/studies/mocktail/eyeris.jpg" alt=""/>
      <figcaption class="px3">Production art for Eyeris</figcaption>
    </figure>
    <div class="container full"> -->
    <aside class="pt0">
    <h3 id="model">The Mocktail Model</h3>
    <h4>Customer</h4>
    <p>Musicians with an audience size of 1K-10K with upcoming releases on promotional properties like Mr. Suicide Sheep, Liquicity, Artist Intelligence Agency, and online labels. </p>
    <h4>Product and Value</h4>
    <p>Mocktail makes thoughtful visual identities and graphic art, delivered  professionally and consistently.</p>
    <p>Customers use these visual identities when working with promoters, agents, and labels to book shows and produce promotional material. The music industry is obsessed with branding to a degree that makes tech companies look like weekend warriors, so having design materials that pass the “sniff test” can be crucial when starting an artist career.</p>
    <h4>Competition</h4>
    <p>Due to demand and talent crossover, the music industry is saturated with incredible design talent, both self-taught and institute-educated. However, many independent designers are heavily reliant on a single signature style, or are slow, unreliable, inconsistent, or a mixture of the above. Likewise, design teams are uncommon, limiting capacity and reducing efficiency.</p>
    <h4>Opportunity</h4>
    <p>The “bedroom producer” segment is underserved by designers when compared to the quality of music they are creating and their audience size. Mocktail gets in early with artists who release music on feeder labels and rides the proverbial wave as these artists grow and require more design work.</p>
    <p>In a perfect world, the opportunity structure is similar to conventional wisdom for small venture funds: one investment in ten makes up for its nine underperforming peers. Thus, the 10x company, and in our case, the 10x artist. If one of every ten promising artists moves up in the scene, they make the other nine small projects worth it.</p>
    <h4>Model</h4>
    <p>User acquisition costs are extremely low due to the narrow customer niche and the lack of organized competition. Agent designers are paid on a contract-by-contract basis and 50% of all projects are taken up front to stabilize cash flow.</p>
  </aside>

    <h3 id="result">The Result</h3>
    <p>Mocktail ran for almost two years but neither failed or succeeded from a financial perspective. Ultimately there wasn’t enough revenue to expand into other niches and verticals. I didn’t have the hiring acumen to grow the team, resulting in some ruined relationships when my attempts failed. Mocktail ended in 2016 when I joined Fresh Tilled Soil to continue my product career without having to worry about balance sheets and clients.</p>




  </div>
</div>
<div class="bg-black">
  <div class="container full">
    {{>header}}
    {{>nav}}
  </div>
</div>
