<div class="container-content">
  <div class="container-left white bg-black bg-image slideup wine">
    {{> header}}
    {{> nav}}
  </div>
  <!-- INDEX  -->
  <div class="container-right bg-white list fadein">
    <a href="/projects"><h5>< Back</h5></a>
    <hr class="line">
    <h4>Redesigning a legacy industry</h4>
    <h2>The UX of Wine</h2>
    <h3>🍷</h3>

    <h3 class="mt3">Problem</h3>
    <p>Wine retailers and producers don’t give consumers the information and tools they need to make purchase decisions.</p>
    <h3>Hypotheses & Tests</h3>
    <p>By understanding how and why people buy wine, you can design better experiences for consumers with an end result of selling more wine to more people.</p>
    <p>I built three prototypes, each testing different hypotheses. The first was a POP and paper interaction, the second was built in InVision and Sketch, and the third was built in Unity3D for the Oculus Rift and HTC Vive headsets.</p>
    <div class="aside">
      <h3>Process Deliverables</h3>
      <ul>
        <li>Domain Exploration</li>
        <li>User Interviews</li>
        <li>Problem Statements</li>
        <li>Personas & Empathy Maps</li>
        <li>Experience Maps</li>
        <li>Prototypes</li>
        <li>User Tests</li>
        <li>Usability Tests</li>
      </ul>
    </div>
    <h3>Why</h3>
    <p>During my time in Fresh Tilled Soil’s AUX program, I was assigned the broad task of defining and using technology to tackle a problem in the food and drink space.</p>
    <h3>Initial Research</h3>
    <p>In order to understand the wine ecosystem, I talked with consumers, producers, distributors, and retail wine shops, writing and refining interview guides for each role I interviewed.</p>
    <p>After two weeks of interviews, I collated all my notes into a master document and extracted the key themes to clarify my understanding of the wine industry and its problems.</p>
    <h3>Key Insights</h3>
    <h6>The Wine Supply Chain</h6>
    <p>Producer>Distributor>Retailer>Consumer. Each have their own needs, tools, and barriers.</p>
    <h6>How We Buy Wine</h6>
    <p>Price. Label design. Social proof. Wine is a commodity masquerading (and sold) as a luxury good. Good wine experiences account for both the commodified portion and the emotional portion.</p>
    <h6>User Themes</h6>
    <p>Some consumers are solidly in the wine camp and know what they want. The rest are along a spectrum and buy wine with their own mindsets and contexts.</p>
    <h3>Define & Focus</h3>
    <p>Interviews uncovered problems and opportunities throughout the wine supply chain. I chose to focus on the consumer experience because current consumer technology offerings are extremely limited or poorly executed (with some exceptions–CellarTracker.com).</p>
    <p>Further focusing, I discarded wine consumers who are likely to know exactly what they want most of the time and consumers who know too little (don’t care about wine apps) or too much (already know what they want).</p>

    <h3>Personas and Empathy Maps</h3>
    <p>From my interview themes, I synthesized three personas: Everyday Al, Self-Conscious Sal, and Tyler The Enthused. I combined my empathy maps and personas in a hybrid document that described key behavioral components.</p>

    <h3>Experience Maps</h3>
    <p>Using these personas as swimlanes, I mapped the consumer wine experience from pre-purchase to post-consumption. The experience mapping process exposed gaps in my understanding of the existing consumer journey and identified UX improvement opportunities.</p>

    <p>After my first pass, I used the question marks on my map, of which there were many, to craft new interview guides and ask better questions of interviewees.</p>
    <h3>The phases</h3>
    <p>Each persona has unique goals, obstacles, and anxieties through each phase of the experience, all taken from interviews with consumers. The map view clearly shows problems and opportunities with the consumer wine experience</p>
    <h6>Motivation</h6>
    <p>The users are establishing their need and making a plan. From a Jobs To Be Done perspective, this phase asks “why is this person hiring wine and what are they hiring wine to achieve?”</p>
    <h6>Acquisition</h6>
    <p>The users are finding, evaluating, and purchasing wine. This phase is the “how?” phase.</p>
    <h6>Consumption</h6>
    <p>Users are delivering, serving, and drinking wine, all in different ways.</p>
    <h6>Reflection</h6>
    <p>Finally, users are internalizing their experience with the wine based on more than the taste of the wine, but also how the wine fit expectations and how the wine interacted with the mood.</p>
    <h3>Hypotheses & Most Dangerous Assumptions</h3>
    <p>From the opportunities in my experience map, I outlined four solutions: a locally-available wine list, a wine education tool, a stronger retail environment utilizing virtual reality, and marketing tools for wine producers.</p>
    As the wine list and the retail environments solved for more critical user anxieties and obstacles problems, so I focused on those. To further clarify, I outlined my most dangerous assumptions, user groups,  and what each prototype would and would not be explicitly testing for.
    Prototype #1: “Cellar App”
    Hypothesis
    Availability in proximity is the biggest factor in a wine purchase. Providing users a filterable stream of locally-available wines with relevant details solves for anxieties in the motivation and acquisition stages, creating a wine purchase.
    Most Dangerous Assumptions
    Wine buying is sufficiently painful for target users to hire help in the form of an app
    Users are open to shopping at proximate stores
    The tech can recommend wine better than the individual’s base intuition
    User Groups
    Tech-savvy wine consumers who know some things about their wine tastes but not enough to be carefree in their wine selection.
    Testing For
    Use-case viability
    Core USP: locally-available wine recommendations
    What information is relevant
    Not Testing For
    Interface and information accuracy
    Personal list functionality
    Education
    Valid If
    Users find a wine they are comfortable buying when provided personal criteria.
    Prototypes
    A mobile application that presents the user with a filtered stream of locally-available (within an adjustable radius) wines paired with their CellarTracker.com rating and flavor abstracts.
    I built a POP prototype for initial flow testing as well as a Sketch + InVision prototype to solve for fidelity issues. The InVision prototype:
    <iframe width="438" height="930" src="//invis.io/NA9NSTLSR" frameborder="0" allowfullscreen></iframe>
    Test Results 🚫
    I tested the app with wine consumers who weren’t part of my initial interviews. Although the value proposition of location-based availability for the wines resonated, the presented information (CellarTracker rating and flavor abstracts) didn’t resonate more than the alternative of walking into a store and reading labels.
    Additionally, users weren’t so anxious about their wine picks that they would think to download an app to present better wine picks. Although a mobile app might solve for anxieties and produce desired outcomes, user acquisition would most likely be prohibitively expensive
    Prototype #2: Virtual Reality
    Virtual reality is cool but hasn’t been used for much aside from storytelling and painting and also Harmonix made a VR music… game? However, there’s a flipside to VR that really no one has touched–using virtual reality to build a better physical reality via space + systems prototyping. Imperatively: test your expensive physical systems in VR and then build them in reality.
    Hypothesis
    We can use virtual reality to quickly test unique wine displays and retail store layouts that give consumers appropriate and compelling information leading to better in-store conversion rates.
    Most Dangerous Assumptions
    Liquor stores are interested in making more wine sales
    Wine producer networks will take marketing risks
    User Groups
    Tech-savvy wine consumers who know some things about their wine tastes but not enough to be carefree in their wine selection.
    Testing For
    Can VR help us understand consumer behavior? Can VR allow us to effectively prototype physical spaces?
    Not Testing For
    Fidelity
    Valid If
    Users react more positively to the new layouts in VR than the existing layouts recreated in VR.
    Prototypes
    Plot twist. Read more. Part 2>>





  </div>
</div>
