<div class="container-content">
  <div class="container-left white bg-black bg-image slideup wine">
    {{> header}}
    {{> nav}}
    <!-- {{> wine-nav}} -->
  </div>
  <!-- INDEX  -->
  <div class="container-right bg-white fadein">
    <hr class="line">
    <h4>Redesigning a legacy industry</h4>
    <h2>The UX of Wine 🍷</h2>
    {{>wine-nav}}
    <h3id="overview">Summary</h3>
    <h4>Problem</h4>
    <p>Wine retailers and producers don’t give consumers the information and tools they need to make purchase decisions.</p>
    <h4>Research</h4>
    <p>I conducted interviews across the wine industry and throughout the wine supply chain, using my research findings to map the ecosystem and test falsifiable hypotheses around core problems.</p>
    <h4>Results</h4>
    <p>I built three prototypes, each testing different hypotheses. The first was a POP and paper interaction, the second was built in InVision and Sketch, and the third was built in Unity for the Oculus Rift VR headset.</p>
    <p>Mobile app prototypes: 🚫</p>
    <p>VR prototype: ✅</p>
    <p>Read on below for the full case study. ⤵</p>
  </div>
</div>
<div class="bg-white">
  <figure>
    <img src="../img/studies/wineux/brainstorm.gif" class="full" alt="Food and drink industry problems brainstorm on a whiteboard" />
    <figcaption class="px3">Figure 1: Initial Industry Brainstorm</figcaption>
  </figure>
  <div class="container full">
    <h3 id="research">Initial Research</h3>
    <p>In order to understand the wine ecosystem, I talked with consumers, producers, distributors, and retail wine shops, writing and refining interview guides for each role I interviewed.</p>
    <p>After two weeks of interviews, I collated all my notes into a master document and extracted the key insights to clarify my understanding of the wine industry and its problems.</p>
  </div>
  <figure>
    <img src="../img/studies/wineux/industry.gif" class="full" alt="The wine industry supply chain by need, tools, and obstacles" />
    <figcaption class="px3">Figure 2: Wine Industry Supply Chain (domestic consumer)</figcaption>
  </figure>
  <div class="container mostly">
    <div class="row">
      <div class="cl">
        <h5>Key Insight</h5>
        <hr class="line">
        <h4>The Wine Supply Chain</h4>
        <p>For wine bought in stores, the chain is Producer > Distributor > Retailer > Consumer. Each have their own needs, tools, and barriers.</p>
      </div>
      <div class="cl">
        <h5>Key Insight</h5>
        <hr class="line">
        <h4>How We Buy Wine</h4>
        <p>Price. Label design. Social proof. Wine is a commodity masquerading (and sold) as a luxury good. Good wine experiences account for both the commodified portion and the emotional portion.</p>
      </div>
      <div class="cl">
        <h5>Key Insight</h5>
        <hr class="line">
        <h4>User Themes</h4>
        <p>Some consumers are solidly in the wine camp and know what they want. The rest are along a spectrum and buy wine with their own mindsets and contexts.</p>
      </div>
    </div>
  </div>
  <div class="container full">
    <h3 id="problem">Define & Focus</h3>
    <p>Interviews uncovered problems and opportunities throughout the wine supply chain. I chose to focus on the consumer experience because current consumer technology offerings are extremely limited or poorly executed (with some exceptions–CellarTracker.com).</p>
    <p>Further focusing, I discarded wine consumers who are likely to know exactly what they want most of the time and consumers who know too little (don’t care about wine apps) or too much (already know what they want).</p>
    <h3>A Behavior Model</h3>
    <p>Using research insights, I outlined a surface-level wine purchase behavior model to clarify and communicate my understanding of the people involved and how they made purchase decisions. <a href="../img/studies/wineux/behavior.pdf">You can read it here (44kb).</a></p>
    <figure>
      <img src="../img/studies/wineux/users.gif" class="full figure" alt="The wine industry supply chain by need, tools, and obstacles" />
      <figcaption>Figure 3: User Groups Breakdown</figcaption>
    </figure>
    <h3>Working Problem Statement</h3>
    <p>"Wine retailers and producers don’t give consumers the information and tools they need to make purchase decisions."</p>
    <h3 id="docs">Personas and Empathy Maps</h3>
    <p>From my interview themes, I synthesized three personas: Everyday Al, Self-Conscious Sal, and Tyler The Enthused. I combined my empathy maps and personas in a hybrid document that described key behavioral components.</p>
  </div>
  <div class="row">
    <div class="cl">
      <figure>
        <img src="../img/studies/wineux/persona-sa.gif" class="full figure" alt="The wine industry supply chain by need, tools, and obstacles" />
        <figcaption>Figure 4: Self-Conscious Sal</figcaption>
      </figure>
    </div>
    <div class="cl">
      <figure>
        <img src="../img/studies/wineux/persona-tyler.gif" class="full figure" alt="The wine industry supply chain by need, tools, and obstacles" />
        <figcaption>Figure 5: Tyler, The Enthused</figcaption>
      </figure>
    </div>
    <div class="cl">
      <figure>
        <img src="../img/studies/wineux/persona-al.gif" class="full figure" alt="The wine industry supply chain by need, tools, and obstacles" />
        <figcaption>Figure 6: Everyday Al</figcaption>
      </figure>
    </div>
  </div>
<div class="container full pt0">
    <h3>Experience Maps</h3>
    <p>Using these personas as swimlanes, I mapped the consumer wine experience from pre-purchase to post-consumption. The experience mapping process exposed gaps in my understanding of the existing consumer journey and identified UX improvement opportunities.</p>
    <p>After my first pass, I used the question marks on my map, of which there were many, to craft new interview guides and ask better questions of interviewees.</p>
    <p>Each persona has unique goals, obstacles, and anxieties through each phase of the experience, all taken from interviews with consumers. The map view clearly shows problems and opportunities with the consumer wine experience</p>
  </div>
  <div class="container mostly">
    <div class="row">
      <div class="cl">
        <h5>Phase 1</h5>
        <hr class="line"/>
        <h4>Motivation</h4>
        <p>Users are establishing need and making a plan. Ask: “why is this person hiring wine and why?”</p>
      </div>
      <div class="cl">
        <h5>Phase 2</h5>
        <hr class="line"/>
        <h4>Acquisition</h4>
        <p>Users are finding, evaluating, and purchasing wine. This phase is the “how?” phase.</p>
      </div>
      <div class="cl">
        <h5>Phase 3</h5>
        <hr class="line"/>
        <h4>Consumption</h4>
        <p>Users are delivering, serving, and drinking wine, all in different ways.</p>
      </div>
      <div class="cl">
        <h5>Phase 4</h5>
        <hr class="line"/>
        <h4>Reflection</h4>
        <p>Users are internalizing their experience with the wine based on taste, expectations, and appropriateness.</p>
      </div>
    </div>
  </div>
  <figure>
    <img src="../img/studies/wineux/xpmap.gif" class="full figure" alt="Experience Map with Personas as swimlanes" />
    <figcaption class="px3">Figure 7: Initial Experience Map (later versions in spreadsheets for flexibility)</figcaption>
  </figure>
  <div class="container full" id="hypothesis">
    <h3>Domain Analysis</h3>
    <p>Without a solution in mind, I mapped current technology solutions in the wine industry using a blue ocean chart, varietals of the business model canvas, and ecoystem value-flow maps.</p>
    <p>The brief foray into MBA-land made it clear that enthusiasts are overserved and casual consumers are underserved in the wine app ecosystem. Existing apps for casual consumers present great content–lots of people are working to make wine less snooty–but aren't useful for the most important wine use case: drinking wine. This is because casual consumers don't care about highly-rated wines that aren't available in their area, meaning database functionality has to be seen through the lense of proximate availability.</p>
    <h3>Hypotheses & Most Dangerous Assumptions</h3>
    <p>From the opportunities in my experience map and the product-market gaps, I outlined four solutions: a locally-available wine list, a wine education tool, a stronger retail environment utilizing virtual reality, and marketing tools for wine producers.</p>
    <p>As the wine list and the retail environments solved for more critical user anxieties and obstacles problems, so I focused on those. To further clarify, I outlined my most dangerous assumptions, user groups,  and what each prototype would and would not be explicitly testing for.</p>
    <h3>Prototyping & Test-Driven Design</h3>
    <p>The prototyping process is a series of experiments in which the designer uses artifacts to elicit new information and test key elements of a proposed solution. I built two prototypes and both elicited insights about the industry and user experience while validating and invalidating core value propositions.</p>
    <figure>
      <img src="../img/studies/wineux/prototype-layout.gif" class="full figure" alt="Cellar app prototype in Sketch" />
      <figcaption>Figure 8: "Cellar" mobile app prototype in Sketch</figcaption>
    </figure>
    <h3 id="proto1">Prototype #1: “Cellar App”</h3>
    <h4>Hypothesis</h4>
    <p>Availability in proximity is the biggest factor in a wine purchase. Providing users a filterable stream of locally-available wines with relevant details solves for anxieties in the motivation and acquisition stages, creating a wine purchase.</p>
    <h4>Most Dangerous Assumptions</h4>
    <ul>
      <li>Wine buying is sufficiently painful for target users to hire help in the form of an app</li>
      <li>Users are open to shopping at proximate stores</li>
      <li>The tech can recommend wine better than the individual’s base intuition</li>
    </ul>
    <h4>User Groups</h4>
    <ul>
      <li>Tech-savvy wine consumers who know some things about their wine tastes but not enough to be carefree in their wine selection.</li>
    </ul>
    <div class="row">
      <div class="cl-2">
        <h4>Testing For</h4>
        <ul>
          <li>Use-case viability</li>
          <li>Core USP: locally-available wine recommendations</li>
          <li>What wine profile information is relevant</li>
        </ul>
      </div>
      <div class="cl-2">
        <h4>Not Testing For</h4>
        <ul>
          <li>Interface and information accuracy</li>
          <li>Personal list functionality</li>
          <li>Education</li>
        </ul>
      </div>
    </div>
    <h4>Valid If</h4>
    <p>Users find a wine they are comfortable buying when provided personal criteria.</p>
    <h3>The Flow</h3>
    <p>A mobile application that presents the user with a filtered stream of locally-available (within an adjustable radius) wines paired with their CellarTracker.com rating and flavor abstracts.</p>
    <p>I built a POP prototype for initial flow testing as well as a Sketch + InVision prototype to solve for fidelity issues. The InVision prototype (if your device is big enough):</p>
    <div class="tc">
      <iframe width="438" height="930" src="//invis.io/NA9NSTLSR" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3>Test Results: 🚫</h3>
    <p>I tested the app with wine consumers who weren’t part of my initial interviews. Although the value proposition of location-based availability for the wines resonated, the presented information (CellarTracker rating and flavor abstracts) didn’t resonate more than the alternative of walking into a store and reading labels.</p>
    <p>Additionally, based on past behavior, users weren’t anxious about their wine picks that they would search for an app, although some claimed otherwise. Although a mobile app might solve for anxieties and produce desired outcomes, user acquisition would likely be prohibitively expensive. 💵</p>
    <h3 id="proto2">Prototype #2: Virtual Reality</h3>
    <p>Virtual reality is cool but hasn’t been used for much aside from storytelling and painting and also Harmonix is putting Rockband in VR. However, there’s a flipside to VR that really no one has touched: building a better physical reality using VR as space and systems prototyping. Imperatively: test your expensive physical systems in VR and then build them in reality.</p>
    <h4>Hypothesis</h4>
    <p>We can use virtual reality to quickly test unique wine displays and retail store layouts that give consumers appropriate and compelling information leading to better in-store conversion rates.</p>
    <h4>Most Dangerous Assumptions</h4>
    <ul>
      <li>Liquor stores are interested in making more wine sales</li>
      <li>Wine producer networks will take marketing risks</li>
    </ul>
    <h4>User Groups</h4>
    <li>Tech-savvy wine consumers who know some things about their wine tastes but not enough to be carefree in their wine selection.</li>
    <div class="row">
      <div class="cl-2">
        <h4>Testing For</h4>
        <ul>
          <li>Can VR help us understand consumer behavior?</li>
          <li>Can VR allow us to effectively prototype physical spaces?</li>
        </ul>
      </div>
      <div class="cl-2">
        <h4>Not Testing For</h4>
        <ul>
          <li>Fidelity</li>
        </ul>
      </div>
    </div>
    <h4>Valid If</h4>
    <ul>
      <li>Users react more positively to the new layouts in VR than the existing layouts recreated in VR.</li>
    </ul>
    <h3>The Prototype</h3>
    <p>Before building in Unity I presented my ideas to mentors at Fresh Tilled Soil. Then things went a bit sideways.</p><a href="/work/winevr">Read on: VR Prototypes for Wine –></a></p>
  </div>
</div>
<div class="bg-black">
  <div class="container full">
    {{>header}}
    {{>nav}}
  </div>
</div>
