{{> u/cf}}
<div class="testimonials row artist">
  <div class="col-md-6 col-md-offset-3 mt4">
    <div class="row">
    <div class="indent p3 px5 bg-light bg-quote quote">
      <p>"{{{praise.first.[0]}}}"</p>
      <div class="wedge ml3 bg-light fl"></div>
    </div>
    </div>
    <div class="row">
      <img src="{{praise.first.[2]}}" alt="{{praise.first.[2]}}" class="img sm di ml5 mt3 mb3 p2"/>
      <h3 class="dib ml3 tc mb4"><em>{{praise.first.[1]}}</em></h3>
    </div>
  </div>
</div>
{{> u/fc}}
