{{> u/cf}}
<div class="testimonials row mt4 bg-light artist">
  <div class="col-md-6 col-md-offset-3 mt4">
    <div class="row">
    <div class="indent p3 px5 bg-white bg-quote quote">
      <p>"{{{praise.second.[0]}}}"</p>
      <div class="wedge ml3 bg-white fl"></div>
    </div>
    </div>
    <div class="row">
      <img src="{{praise.second.[2]}}" alt="{{praise.second.[2]}}" class="img-circle img sm di ml5 mt3 mb3 p1"/>
      <h3 class="dib ml3 tc mb4"><em>{{praise.second.[1]}}</em></h3>
    </div>
  </div>
</div>
{{> u/fc}}
